<!--/*

  customer-product-review component.

 Customer Product Review for Rebus
*/-->
<section class="col-xs-12 reviews m-t-5em">
      <div class="col-xs-12 text-center txt-choice">
        <h4>Our customers</h4>
        <h3>reviews.</h3>
        <div class="small-seprator"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 section-review">
        <div class="col-xs-12 star-rating m-t-3em text-center"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 user-review text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in eros efficitur, maximus nisi eu, fringilla metus. Cras et dapibus libero. Donec ac ultricies </p>
          <p><strong>Antony Webster, London.</strong> </p>
        </div>
      </div>
      <div class="col-xs-12 section-review">
        <div class="col-xs-12 star-rating m-t-3em text-center"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 user-review text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in eros efficitur, maximus nisi eu, fringilla metus. Cras et dapibus libero. Donec ac ultricies </p>
          <p><strong>Antony Webster, London.</strong> </p>
        </div>
      </div>
      <div class="col-xs-12 section-review">
        <div class="col-xs-12 star-rating m-t-3em text-center"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 user-review text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in eros efficitur, maximus nisi eu, fringilla metus. Cras et dapibus libero. Donec ac ultricies </p>
          <p><strong>Antony Webster, London.</strong> </p>
        </div>
      </div>
      <div class="col-xs-12 section-review">
        <div class="col-xs-12 user-review text-center">
          <p><a href="javascript:void(0)" class="viewall">View all reviews.</a> </p>
        </div>
      </div>
    </section>
	<div class="clearfix"></div>
    </section>