<!--/*

  product-list component.

 Product List for Rebus
*/-->
<div class="row section-banner">
      <div class="col-xs-12 p-0 bg-24"> <img src="/content/dam/rebus-demo/images/c-1.png" class="img-responsive m-auto" /> </div>
</div>