<!--/*

  three-product-review component.

 Three Product Review for Rebus
*/-->
<section id="summary" class="col-xs-12 m-t-5em">
      <div class="col-xs-12 text-center txt-choice">
        <h4>Our</h4>
        <h3>review.</h3>
        <div class="small-seprator"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 text-center m-t-3em p-0">
        <p>The sleek new Samsung Galaxy S8 and S8+ have ultra-thin bezels that give the phone a rounded infinity display and fully immersive experience whilst still providing dust and water resistance.</p>
      </div>
    </section>
    <div class="clearfix"></div>
<section class="col-xs-12 features">
      <div class="col-xs-12 col-sm-2 text-center col-md-offset-2"> <img src="/content/dam/rebus-demo/images/connectivity.png" alt="connectivity" />
        <p class="pb40">Latest connectivity technology</p>
      </div>
      <div class="col-xs-12  col-sm-3 col-md-2 text-center mid-feature"> <img src="/content/dam/rebus-demo/images/mobile-cam.png" alt="connectivity" />
        <p class="pb40">Great camera no matter the lighting</p>
      </div>
      <div class="col-xs-12 col-sm-2 text-center pb10"> <img src="/content/dam/rebus-demo/images/eye.png" alt="connectivity" />
        <p class="pb40">New high tech Iris scanning security</p>
      </div>
    </section>
	<div class="clearfix"></div>