<!--/*

  product-selection component.

 Product Selection for Rebus
*/-->
<sly data-sly-use.productDetails= "cit.azure.cit_package.core.models.ProductDescription">    
<section class="row bg-f2">
      <div class="col-xs-12 text-center txt-choice m-t-3em">
        <h4>Choose</h4>
        <h3>your phone</h3>
        <div class="small-seprator"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-4 mob-sel ">
        <div class="btn-group btn-grp-uk col-xs-12 ">
          <button type="button" class="btn-phn btn btn-dropdown-white-uk dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">64gb <span class="glyphicon glyphicon-menu-down"></span> <span class="glyphicon glyphicon-menu-up"></span> </button>
          <ul class="dropdown-menu col-xs-12 p-l-0">
            <li> <a href="#">32gb</a> </li>
            <li> <a href="#">16gb</a> </li>
            <li> <a href="#">8gb</a> </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="btn-group btn-grp-uk col-xs-12 ">
          <button type="button" class="btn-phn btn btn-dropdown-white-uk dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gold <span class="glyphicon glyphicon-menu-down"></span> <span class="glyphicon glyphicon-menu-up"></span> </button>
          <ul class="dropdown-menu col-xs-12 p-l-0">
            <li> <a href="#">White</a> </li>
            <li> <a href="#">Black</a> </li>
            <li> <a href="#">Silver</a> </li>
           
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-4 text-center ">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 mob-cost">
          <p><strong>MONTHLY COST</strong> </p>
          <h3>&pound;<sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 11}">${productInfo}</sly></sly></h3> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 mob-cost">
          <p><strong>UPFRONT COST</strong> </p>
          <h3>&pound;<sly data-sly-list.productInfo = ${productDetails.getProductInfo} data-sly-unwrap><sly data-sly-test="${productInfoList.index == 4}">${productInfo}</sly></sly></h3> </div>
        <div class="col-xs-12 text-center">
         <!--/* <a href="#"><button class="btn btn-primary-uk col-xs-12 col-sm-6 m-t-2em f-sm-0">Pre Order Now</button></a>*/-->
		 <button class="btn btn-primary-uk col-xs-12 col-sm-6 m-t-2em f-sm-0" id="btn-primary-uk">Order Now</button>
        </div>
        <div class="col-xs-12 text-center m-t-2em p-0 m-b-2em">
          <!--/*<p class="w-52p m-sm-auto  p-0">Available for Pre-order: Get your phone from 20 April.
            <br /> Pick up in store: Grab it in SW8. <a href="">Find your nearest store.</a> </p>*/-->
			<p class="w-52p m-sm-auto  p-0">Available for Order
            <br /> Pick up in store: Grab it in SW8. <a href="#">Find your nearest store.</a> </p>
        </div>
      </div>
    </section>
</sly>