<!--/*

Logo component

<a class="navbar-brand col-xs-9 col-md-2 p-0" href="${'{0}.html' @ format = [currentStyle.imgRedirect] || '#'}">
	<img src="${currentStyle.imgPath ? currentStyle.imgPath : '#'}" class="logo" alt="logo">
</a>

*/-->
<a class="navbar-brand col-xs-8 col-md-2 p-0" href="${'{0}.html' @ format = [currentStyle.imgRedirect] || '#'}">
				<img src="${currentStyle.regImgPath ? currentStyle.regImgPath : '#'}" class="logo hidden-sm" alt="logo">
                <img src="${currentStyle.smallImgPath ? currentStyle.smallImgPath : '#'}" class="logo hidden-xs hidden-md hidden-lg" alt="logo">
</a>