<section class="col-xs-12 section-ad">
      <div class="col-xs-12 col-sm-5">
        <div class="col-xs-12 text-center txt-choice"> <img src="/content/dam/rebus-demo/images/drop.png" alt="Image" class="img-responsive m-auto" />
          <h4>Coming</h4>
          <h3>next year</h3>
          <div class="small-seprator"></div>
          <div class="clearfix"></div>
          <div class="col-xs-12  col-md-8 col-md-offset-2 text-center m-t-3em p-0">
            <p class="p-add">The Galaxy 8 Edge II is currently being designed. It will be a game changer.Register to get the latest updates.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7"> <img src="/content/dam/rebus-demo/images/g8.png" alt="Image" class="img-responsive" /> </div>
    </section>
<div class="clearfix"></div>