<!--/*

  product-specifications component.

 Product Specifications for Rebus
*/-->
<sly data-sly-use.productDetails= "cit.azure.cit_package.core.models.ProductDescription">    
<section class="tech-specifications row p-0 m-t-5em ">
      <div class="col-xs-12 col-sm-6 mob-hero">
        <div class="col-xs-12 p-0 col-sm-10 col-sm-offset-1"> <img src="/content/dam/rebus-demo/images/mobile-hero.png" class="img-responsive" alt="Cinque Terre"> </div>
      </div>
      <div class="col-xs-12 col-sm-6 p-0">
        <div class="col-xs-12 p-0"> <img src="/content/dam/rebus-demo/images/tech-spec.png" class="img-responsive col-xs-12 p-0" alt="Technical Specification"> </div>
        <div class="clearfix"></div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                <h4 class="panel-title">
                    <a role="button" href="javascript:void(0)" >
                        <i class="more-less glyphicon glyphicon-plus pull-right"></i>
                        1. Display
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                     <sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 12}">${productInfo}</sly></sly> 
                </div>
            </div>
        </div>
		 <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <a role="button"  href="javascript:void(0)">
                        <i class="more-less glyphicon glyphicon-plus pull-right"></i>
                         2. Camera & Photos
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                     <sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 1}">${productInfo}</sly></sly>
                </div>
            </div>
        </div>
			  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <a role="button"  href="javascript:void(0)">
                        <i class="more-less glyphicon glyphicon-plus pull-right"></i>
                          3. Battery
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                     <sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 3}">${productInfo}</sly></sly>
                </div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <a role="button" href="javascript:void(0)" >
                        <i class="more-less glyphicon glyphicon-plus pull-right"></i>
                         4. Connectivity
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                     <sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 13}">${productInfo}</sly></sly>
                </div>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefive" aria-expanded="true" aria-controls="collapseOne" >
                <h4 class="panel-title">
                    <a role="button" href="javascript:void(0)" >
                        <i class="more-less glyphicon glyphicon-plus pull-right"></i>
                         5. More...
                    </a>
                </h4>
            </div>
            <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                     <sly data-sly-list.productInfo = ${productDetails.getProductInfo}><sly data-sly-test="${productInfoList.index == 5}">${productInfo}</sly></sly>
                </div>
            </div>
        </div>
		</div>
    </section>
    <div class="clearfix"></div>
</sly>    