<!--/*

  product-suggested component.

 Product and Accessories suggested for Rebus
*/-->
<!--/*

  product-suggested component.

 Product and Accessories suggested for Rebus
*/-->
<section class="row section-accessories">
      <div class="col-xs-12 text-center txt-choice">
        <h4>You may be</h4>
        <h3>interested in.</h3>
        <div class="small-seprator"></div>
      </div>
      <div class="col-xs-12 m-t-3em m-b-2em">
        <div class="text-center">
          <label for="d-a" class="d-a">Devices</label>
          <label for="disabled" class="d-a disabled">Accessories</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div id="myCarousel" class="carousel slide ">
          <!-- Carousel items for mobile only -->
          <div class="carousel-inner hidden-sm hidden-md hidden-lg">
            <div class="item active">
              <div class="row">
                <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p1.png" alt="Image" class="img-responsive">
                  <div class="clearfix"></div>
                  <div class="col-xs-12 device-name">
                    <h5>Google</h5>
                    <h4>Pixel</h4> </div>
                  <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                  <div class="col-xs-12 device-price">
                    <div class="col-xs-6 text-right">
                      <label for="d-type" class="d-type">UPFRONT</label>
                      <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                    </div>
                    <div class="col-xs-6 text-left">
                      <label for="d-type" class="d-type">PER MONTH</label>
                      <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="row">
                <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p3.png" alt="Image" class="img-responsive">
                  <div class="clearfix"></div>
                  <div class="col-xs-12 device-name">
                    <h5>Google</h5>
                    <h4>Pixel</h4> </div>
                  <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                  <div class="col-xs-12 device-price">
                    <div class="col-xs-6 text-right">
                      <label for="d-type" class="d-type">UPFRONT</label>
                      <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                    </div>
                    <div class="col-xs-6 text-left">
                      <label for="d-type" class="d-type">PER MONTH</label>
                      <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="row">
                <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p2.png" alt="Image" class="img-responsive">
                  <div class="clearfix"></div>
                  <div class="col-xs-12 device-name">
                    <h5>Google</h5>
                    <h4>Pixel</h4> </div>
                  <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                  <div class="col-xs-12 device-price">
                    <div class="col-xs-6 text-right">
                      <label for="d-type" class="d-type">UPFRONT</label>
                      <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                    </div>
                    <div class="col-xs-6 text-left">
                      <label for="d-type" class="d-type">PER MONTH</label>
                      <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="myCarousel2" class="carousel slide ">
            <!-- Carousel items for desktop and ipad -->
            <div class="carousel-inner hidden-xs">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p1.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Google</h5>
                      <h4>Pixel</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/galaxy.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Google</h5>
                      <h4>Pixel</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p2.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Google</h5>
                      <h4>Pixel</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p3.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Google</h5>
                      <h4>Pixel</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item ">
                <div class="row">
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p1.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Apple</h5>
                      <h4>iPhone</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/galaxy.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Google</h5>
                      <h4>Pixel</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p2.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Samsung</h5>
                      <h4>Galaxy S8</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 device text-center"> <img src="/content/dam/rebus-demo/images/p3.png" alt="Image" class="img-responsive">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 device-name">
                      <h5>Samsung</h5>
                      <h4>Galaxy S7</h4> </div>
                    <div class="col-xs-12 star-rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> </div>
                    <div class="col-xs-12 device-price">
                      <div class="col-xs-6 text-right">
                        <label for="d-type" class="d-type">UPFRONT</label>
                        <label for="d-price" class="d-price">&pound;19<small>.00</small> </label>
                      </div>
                      <div class="col-xs-6 text-left">
                        <label for="d-type" class="d-type">PER MONTH</label>
                        <label for="d-price" class="d-price">&pound;29<small>.00</small> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/row-->
            </div>
          </div>
        </div>
        <!--/carousel-inner--><a class="left carousel-control" href="#myCarousel2" data-slide="prev">&lt;</a> <a class="right carousel-control" href="#myCarousel2" data-slide="next">&gt;</a> </div>
      <!--/myCarousel-->
      </div>
    </section>
    <div class="clearfix"></div>