<!--/*

  Rebus Product Listing Page

*/-->
<html>

<head>
    <title>${pageProperties.jcr:title || "Page"}</title>
    <sly data-sly-include="headlibs.html" /> 
    <sly data-sly-include="product-list-headlibs.html" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    </head>

<body ng-app="filterApp">
	<div ng-controller="filterController">
		<div class="container-fluid">
			<sly data-sly-include="header.html" data-sly-unwrap/>
			<div class="clearfix"></div>
			<!--/* Static : Split into components */-->
			<div class="container-auto">
				<div class="header-section page-listing">
					<div class="col-xs-12 page-heading">
						<h4>Our range of</h4>
						<h3>phones.</h3>
						<div class="page-heading-seprator"></div>
					</div>
					<div class="clearfix"></div>
					<div class="help-quest">
						<div class="col-xs-12 help m-t-3em">
							<div class="col-xs-12 p-0">
								<div class="text-center section-help">
									<label class="help-section">
										<a href="javascript:void(0)" class="need"> <strong>Need help?</strong> </a> What type of phone are you looking for? </label> <a href="javascript:void(0)" class="pull-right pull-right-mobile not-now">Not now, thanks</a> </div>
							</div>
							<div class="button-section col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">High End</button>
								</div>
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">Mid Range</button>
								</div>
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">Budget</button>
								</div>
							</div>
						</div>
					</div>
					<div class="help-quest hidden">
						<div class="col-xs-12 help m-t-3em">
							<div class="col-xs-12 p-0">
								<div class="text-center section-help">
									<label class="help-section">
										<a href="javascript:void(0)" class="need"> <strong>Need help?</strong> </a> What is your budget? </label> <a href="javascript:void(0)" class="pull-right pull-right-mobile not-now">Not now, thanks</a> </div>
							</div>
							<div class="button-section col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">5K - 10K</button>
								</div>
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">11K - 20K</button>
								</div>
								<div class="col-md-4 col-sm-4">
									<button class="btn btn-primary-uk col-xs-12">21K - 70K</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 help-quest-end hidden help m-t-3em">
						<div class="col-xs-12 p-0">
							<div class="text-center section-help">
								<label class="help-section">
									<a href="javascript:void(0)" class="need"> <strong>Rate US</strong> </a>
								</label> <a href="javascript:void(0)" class="pull-right pull-right-mobile not-now">Not now, thanks</a> </div>
						</div>
						<div class="button-section col-md-12 col-sm-12 col-xs-12">
							<div class="col-md-4 col-sm-4">
								<button class="btn btn-primary-uk col-xs-12">Meet Expectation</button>
							</div>
							<div class="col-md-4 col-sm-4">
								<button class="btn btn-primary-uk col-xs-12">Satisfactory</button>
							</div>
							<div class="col-md-4 col-sm-4">
								<button class="btn btn-primary-uk col-xs-12">Recommendable</button>
							</div>
						</div>
					</div>
				</div>
				<!--/* START: Filter section */-->
				<section class="col-xs-12 m-t-2em section-filter p-0">
					<div class="col-xs-12">
						<h5 class="text-center filter hidden-xs ">filter by</h5> <span class="glyphicon glyphicon-filter hidden-lg hidden-md txt-filter filter-icon fsize22"></span>
						<button type="button" class="btn btn-primary hidden hidden-lg hidden-md"><span class="glyphicon glyphicon-filter"></span></button> <a href="javascript:void(0)" class="pull-right reset" data-toggle="modal" data-target="#reset-filters">[Reset filters]</a> </div>
					<div class="col-xs-12 p-0 js-navbar-collapse hidden-xs hidden-sm">
						<div class="col-xs-12 collapse navbar-collapse nav5">
							<div class="nav navbar-nav class col-sm-12 col-xs-12 p-r-0">
								<div class="dropdown mega-dropdown padd0 col-sm-12 col-lg-3 col-md-3 col-xs-12 padd0">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="filter-label">Brand</span> <span class="glyphicon glyphicon-ok-sign selectedFilter-icon tick-brand hidden"></span> <span class="glyphicon glyphicon-menu-down pull-right icon-rotate"></span></a>
									<ul class="dropdown-menu mega-dropdown-menu brd-rt brd-lft">
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check" ng-model="checkboxVal1" id="Samsung" ng-change="checkBoxTrigger(checkboxVal1)"  ng-true-value = "'Samsung'" ng-false-value= ""><span class="fsize16 check-position">Samsung</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check" ng-model ="checkboxVal2" id = "Apple"  ng-change="checkBoxTrigger(checkboxVal2)" ng-true-value = "'Apple'" ng-false-value= ""><span class="fsize16 check-position">Apple</span></li>
										<!--/*<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">Oneplus</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">Huawei</span></li>*/-->
									</ul>
								</div>
								<div class="dropdown mega-dropdown padd0 col-sm-12 col-lg-3 col-md-3 col-xs-12 padd0">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="filter-label">Operating System</span> <span class="glyphicon glyphicon-ok-sign selectedFilter-icon tick-brand hidden"></span> <span class="glyphicon glyphicon-menu-down pull-right icon-rotate"></span></a>
									<ul class="dropdown-menu mega-dropdown-menu brd-rt brd-lft">
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">Windows</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">Android</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">iPhone </span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">BlackBerry </span></li>
									</ul>
								</div>
								<div class="dropdown mega-dropdown padd0 col-sm-12 col-lg-3 col-md-3 col-xs-12 padd0">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="filter-label">Screen Resolution</span> <span class="glyphicon glyphicon-ok-sign selectedFilter-icon tick-brand hidden"></span> <span class="glyphicon glyphicon-menu-down pull-right icon-rotate"></span></a>
									<ul class="dropdown-menu mega-dropdown-menu brd-rt brd-lft">
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">320×480</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">800×480</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">1280×800</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">1366×800</span></li>
									</ul>
								</div>
								<div class="dropdown mega-dropdown padd0 col-sm-12 col-lg-3 col-md-3 col-xs-12 padd0">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="filter-label">Price</span> <span class="glyphicon glyphicon-ok-sign selectedFilter-icon tick-brand hidden"></span> <span class="glyphicon glyphicon-menu-down pull-right icon-rotate"></span></a>
									<ul class="dropdown-menu mega-dropdown-menu brd-rt brd-lft">
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">5K - 10K</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">11K - 20K</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">21K - 30K</span></li>
										<li class="col-xs-12 col-sm-3">
											<input type="checkbox" class="filter-check"><span class="fsize16 check-position">31K - 70K</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--/*START: Reset Window Modal */-->
					<div id="reset-filters" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<!--/* Modal content */-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
									<h6 class="modal-title">Reset your filters.</h6> </div>
								<div class="modal-body">
									<div class="filter-list"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--/* END: Filter section */-->
				<div class="clearfix"></div>
				<section class="col-xs-12 section-sort p-l-0 p-0">
					<div class="col-xs-6 col-sm-8 p-0 ">
						<!--/*<p class="result-count">128 results</p>*/-->
						<div ng-if ="allDeviceFlow">
							<sly data-sly-use.propertyRead="cit.azure.cit_package.core.models.AccessProductDetails">
								<p class="result-count">${propertyRead.getSize}results</p>
							</sly>
						</div>
						<div ng-if="samsungParamFlow">
							<sly data-sly-use.propertyRead="${'cit.azure.cit_package.core.models.AccessProductDetails' @ text = 'Samsung'}">
								<p class="result-count">${propertyRead.getSize}results</p>
							</sly>	
						</div>
						<div ng-if ="appleParamFlow">
							<sly data-sly-use.propertyRead="${'cit.azure.cit_package.core.models.AccessProductDetails' @ text = 'Apple'}">
								<p class="result-count">${propertyRead.getSize}results</p>
							</sly>	
						</div>
					</div>
					<div class="col-xs-2 p-0 ">
						<p class="txt-sort pull-right">SORT BY</p>
					</div>
					<div class="col-xs-2 p-l-0 div-sortby">
						<button type="button" class="btn btn-dropdown-white-uk dropdown-toggle col-xs-12 p-0 p-14 f-20 filter-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Picks <span class="glyphicon glyphicon-menu-down"></span> </button>
					</div>
				</section>
				<div class="clearfix"></div>
				<!--/* Start: galley section */-->
				<div ng-if="popular">
					<section class="row section-gallery p-0 ">
						<div class="col-xs-12 col-sm-6">
							<div class="bg-f2 p-0  min-height621">
								<div class="item-most-popular  p-0 b-full">
									<div class="col-xs-12 img-header text-center bg-d4"> <span class="text-desc">Most popular</span>
										<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon active"></span></a>
									</div>
									<div class="bg-f2 device-block ">
										<div class="col-xs-12 p-0 bg-f2 col-sm-5"> <img src="/content/dam/rebus-demo/images/iphone7.png" class="img-responsive deviceImage m-auto m-t-2em" alt="image">
											<div class="device-legends1">
												<label for="1" class="bg-red"></label>
												<label for="2" class="bg-brown"></label>
												<label for="3" class="bg-00"></label>
												<label for="4" class="bg-d4"></label>
											</div>
										</div>
										<div class="text-center col-xs-12 col-sm-7 pt8em">
											<div class="col-xs-12 text-center devices">
												<h5>Apple</h5>
												<h6>iphone 7</h6> </div>
											<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> <span class="glyphicon glyphicon-star-empty "></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
											<div class="col-xs-12 pb5em ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at aliquet leo, nec ultricies mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at aliquet leo, nec ultricies mauris.</div>
											<div class="col-xs-12 device-cost">
												<label for="from">FROM</label>
												<label for="cost" class="gbp">£39</label>
												<label for="month">MONTHLY + £ 129 UPFRONT</label>
											</div>
											<div class="col-xs-12 check-box">
												<input type="checkbox" class="check-box-properties" value="compare"> <span class="comp-device">Compare<span></span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 device-item ">
							<div class="col-xs-12 img-header text-center"> <span class="text-desc"></span>
								<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon"></span></a>
							</div>
							<div class="col-xs-6 col-sm-12 p-0 bg-f2 device-block">
								<a href="#"><img src="/content/dam/rebus-demo/images/samsung2.png" class="img-responsive Phone2" alt="samsung2"></a>
								<div class="device-legends">
									<label for="1" class="bg-red"></label>
									<label for="2" class="bg-brown"></label>
									<label for="3" class="bg-00"></label>
									<label for="4" class="bg-d4"></label>
								</div>
							</div>
							<div class="col-xs-6 col-sm-12 device-content">
								<div class="text-center">
									<div class="col-xs-12 text-center devices">
										<h5>Samsung </h5>
										<h6>Galaxy S8</h6> </div>
									<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
									<div class="col-xs-12 device-cost">
										<label for="from">FROM</label>
										<label for="cost1" class="gbp">£39</label>
										<label for="cost2">MONTHLY + £ 99 UPFRONT</label>
									</div>
									<div class="col-xs-12 check-box">
										<input type="checkbox" data="Samsung Galaxy S8" data-rel="/content/dam/rebus-demo/images/samsung2.png" class="check-box-properties" value="compare"> <span>Compare<span> </span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 device-item ">
							<div class="col-xs-12 img-header text-center"> <span class="text-desc"></span>
								<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon"></span></a>
							</div>
							<div class="col-xs-6 col-sm-12 p-0 bg-f2 device-block">
								<a href="#"><img src="/content/dam/rebus-demo/images/samsung2.png" class="img-responsive Phone2" alt="samsung2"></a>
								<div class="device-legends">
									<label for="1" class="bg-red"></label>
									<label for="2" class="bg-brown"></label>
									<label for="3" class="bg-00"></label>
									<label for="4" class="bg-d4"></label>
								</div>
							</div>
							<div class="col-xs-6 col-sm-12 device-content">
								<div class="text-center">
									<div class="col-xs-12 text-center devices">
										<h5>Samsung </h5>
										<h6>Galaxy S8</h6> </div>
									<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
									<div class="col-xs-12 device-cost">
										<label for="from">FROM</label>
										<label for="cost1" class="gbp">£39</label>
										<label for="cost2">MONTHLY + £ 99 UPFRONT</label>
									</div>
									<div class="col-xs-12 check-box">
										<input type="checkbox" data="Samsung Galaxy S8" data-rel="/content/dam/rebus-demo/images/samsung2.png" class="check-box-properties" value="compare"><span>Compare<span></span></span>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="clearfix"></div>
				<!--/* Start: Second row gallery */-->
				<section class="row p-0 section-gallery">
					<div class="col-xs-12 p-0">
						<div ng-if ="allDeviceFlow">
							<sly data-sly-use.propertyRead="cit.azure.cit_package.core.models.AccessProductDetails">${propertyRead.getString}
								<sly data-sly-list.keyName=${propertyRead.getProductDetail}>
									<div class="col-xs-12 col-sm-3 device-item ">
										<div class="col-xs-12 img-header text-center"> <span class="text-desc"></span>
											<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon"></span></a>
										</div>
										<div class="col-xs-6 col-sm-12 p-0 bg-f2 device-block">
											<a href="#"><img src="/content/dam/rebus-demo/images/samsung2.png" class="img-responsive Phone2" alt="samsung2"></a>
											<div class="device-legends">
												<label for="1" class="bg-red"></label>
												<label for="2" class="bg-brown"></label>
												<label for="3" class="bg-00"></label>
												<label for="4" class="bg-d4"></label>
											</div>
										</div>
										<div class="col-xs-6 col-sm-12 device-content">
											<div class="text-center">
												<!--/*<a class="col-xs-12 text-center devices" href="https://omniout.dev.test.ipdesign.info/bin/intermediate/info?id=${keyName}">*/-->
												<a class="col-xs-12 text-center devices" href="http://localhost:5502/bin/intermediate/info?id=${keyName}">
													<h5 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly data-sly-test="${listValueList.index == 6}" >${listValue}
														</sly>
													</h5>
													<h6 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly  data-sly-test="${listValueList.index == 5}" >${listValue}
														</sly>
													</h6>
												</a>
												<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
												<div class="col-xs-12 device-cost">
													<label for="from">FROM</label>
													<label for="cost1" class="gbp">£<sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 1}" >${listValue}</sly></sly></label>
													<label for="cost2">MONTHLY + £ <sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 7}" >${listValue}</sly></sly> UPFRONT</label>
												</div>
												<div class="col-xs-12 check-box">
													<input type="checkbox" data="Samsung Galaxy S8" data-rel="/content/dam/rebus-demo/images/samsung2.png" class="check-box-properties" value="compare" data-no=""> <span>Compare<span> </span></span>
												</div>
											</div>
										</div>
									</div>
								</sly>
							</sly>	
						</div>
						<div ng-if ="samsungParamFlow">
							<sly data-sly-use.propertyRead="${'cit.azure.cit_package.core.models.AccessProductDetails' @ text = 'Samsung'}">
								<sly data-sly-list.keyName=${propertyRead.getProductDetail}>
									<div class="col-xs-12 col-sm-3 device-item ">
										<div class="col-xs-12 img-header text-center"> <span class="text-desc"></span>
											<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon"></span></a>
										</div>
										<div class="col-xs-6 col-sm-12 p-0 bg-f2 device-block">
											<a href="#"><img src="/content/dam/rebus-demo/images/samsung2.png" class="img-responsive Phone2" alt="samsung2"></a>
											<div class="device-legends">
												<label for="1" class="bg-red"></label>
												<label for="2" class="bg-brown"></label>
												<label for="3" class="bg-00"></label>
												<label for="4" class="bg-d4"></label>
											</div>
										</div>
										<div class="col-xs-6 col-sm-12 device-content">
											<div class="text-center">
												<!--/*<a class="col-xs-12 text-center devices" href="https://omniout.dev.test.ipdesign.info/bin/intermediate/info?id=${keyName}">*/-->
												<a class="col-xs-12 text-center devices" href="http://localhost:5502/bin/intermediate/info?id=${keyName}">
													<h5 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly data-sly-test="${listValueList.index == 6}" >${listValue}
														</sly>
													</h5>
													<h6 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly  data-sly-test="${listValueList.index == 5}" >${listValue}
														</sly>
													</h6>
												</a>
												<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
												<div class="col-xs-12 device-cost">
													<label for="from">FROM</label>
													<label for="cost1" class="gbp">£<sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 1}" >${listValue}</sly></sly></label>
													<label for="cost2">MONTHLY + £ <sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 7}" >${listValue}</sly></sly> UPFRONT</label>
												</div>
												<div class="col-xs-12 check-box">
													<input type="checkbox" data="Samsung Galaxy S8" data-rel="/content/dam/rebus-demo/images/samsung2.png" class="check-box-properties" value="compare" data-no=""> <span>Compare<span> </span></span>
												</div>
											</div>
										</div>
									</div>
								</sly>
							</sly>	
						</div>	
						<div ng-if ="appleParamFlow">
							<sly data-sly-use.propertyRead="${'cit.azure.cit_package.core.models.AccessProductDetails' @ text = 'Apple'}">
								<sly data-sly-list.keyName=${propertyRead.getProductDetail}>
									<div class="col-xs-12 col-sm-3 device-item ">
										<div class="col-xs-12 img-header text-center"> <span class="text-desc"></span>
											<a href="javascript:void(0)" class="pull-right"><label class="item-wish">Added to wishlist</label><span class="glyphicon glyphicon-heart pull-right wishlist-icon"></span></a>
										</div>
										<div class="col-xs-6 col-sm-12 p-0 bg-f2 device-block">
											<a href="#"><img src="/content/dam/rebus-demo/images/samsung2.png" class="img-responsive Phone2" alt="samsung2"></a>
											<div class="device-legends">
												<label for="1" class="bg-red"></label>
												<label for="2" class="bg-brown"></label>
												<label for="3" class="bg-00"></label>
												<label for="4" class="bg-d4"></label>
											</div>
										</div>
										<div class="col-xs-6 col-sm-12 device-content">
											<div class="text-center">
												<!--/*<a class="col-xs-12 text-center devices" href="https://omniout.dev.test.ipdesign.info/bin/intermediate/info?id=${keyName}">*/-->
												<a class="col-xs-12 text-center devices" href="http://localhost:5502/bin/intermediate/info?id=${keyName}">
													<h5 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly data-sly-test="${listValueList.index == 6}" >${listValue}
														</sly>
													</h5>
													<h6 data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}>
														<sly  data-sly-test="${listValueList.index == 5}" >${listValue}
														</sly>
													</h6>
												</a>
												<div class="reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span> </div>
												<div class="col-xs-12 device-cost">
													<label for="from">FROM</label>
													<label for="cost1" class="gbp">£<sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 1}" >${listValue}</sly></sly></label>
													<label for="cost2">MONTHLY + £ <sly data-sly-list.listValue=${propertyRead.getProductDetail[keyName]}><sly  data-sly-test="${listValueList.index == 7}" >${listValue}</sly></sly> UPFRONT</label>
												</div>
												<div class="col-xs-12 check-box">
													<input type="checkbox" data="Samsung Galaxy S8" data-rel="/content/dam/rebus-demo/images/samsung2.png" class="check-box-properties" value="compare" data-no=""> <span>Compare<span> </span></span>
												</div>
											</div>
										</div>
									</div>
								</sly>
							</sly>	
						</div>				
			
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
			<section class="col-xs-12 section-bottom-icons hidden">
				<div class="col-xs-12 col-sm-6 col-md-3 p-0 comparebtn w-25p ">
					<a href="#">
						<button class="btn btn-primary-uk col-xs-12">Compare Devices</button>
					</a>
				</div>
			</section>
		</div>
	</div>
    <!--/* End of Static : Split into components */-->
    <sly data-sly-include="footer.html" data-sly-unwrap/>
    <sly data-sly-include="footerlibs.html" /> 
	<sly data-sly-include="product-list-footerlibs.html" />
 </body>
<script>
      var cookies = document.cookie.split(";");
	console.info("Cookies Split:"+cookies);
     for(var i=0;i< cookies.length; i++){
		var cookie = cookies[i].split("=");
        var cookieName = cookie[0].trim();
        var cookieValue = cookie[1];

         /*  if(cookieName =="old_sfdc_cart_id"){
				document.cookie = cookieName +"=;path=/;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                } if cookie is there get update value else create*/

        if(cookieName =="sfdc_cart_id"){
                var x ="old_sfdc_cart_id";
                document.cookie = x + "=" + escape(cookieValue)+";path=/";
                document.cookie = cookieName +"=;path=/;expires=Thu, 01 Jan 1970 00:00:00 GMT";

        }
    }
 </script>
</html>