    .header-section {
      background-color: #fff;
    }

    .container-auto {
      padding-left: 30px;
      padding-right: 30px;
	  margin-bottom:2em;
    }

    .reset {
      position: relative;
      top: -34px;
    }

    .phone-text {
      font-size: 28px;
      text-align: center;
      margin: 40px;
    }

    .help {
      background: #fff;
      border: 1px solid #d2d2d2;
      min-height: 160px;
      transition: 1s;
      padding-bottom: 2em;
    }

    .phone-query {
      padding-top: 22px;
      font-weight: normal
    }

    .not-now {
      padding-top: 10px
    }

    .need {
      text-decoration: none;
      font-weight: bold
    }

    a {
      text-decoration: underline;
      color: #000
    }

    .button-section {
      padding: 5px 40px 0px 50px
    }

    a:hover {
      color: #000
    }

    .phone-section {
      background: #fff;
      padding-top: 30px;
      padding-left: 19px;
      min-height: 80px;
    }

    .section-filter .btn {
      color: #575757;
      border-bottom: 1px solid #000
    }

    .filter {
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 18px;
      margin-bottom: 20px
    }

    .bor1 {
      border: 1px solid #d2d2d2
    }

    .section-sort {
      color: #575757;
      margin-top: 5em
    }

    .txt-sort {
      font-size: 14px;
      margin-top: 0px;
      font-weight: bold;
      color: #575757;
      position: relative;
      right: 18px;
      bottom: -5px;
    }

    .div-sortby {
      float: right
    }

    .div-sortby button {
      min-width: 8em
    }

    .thumbnail .caption {
      padding: 9px;
    }

    .section-gallery {
      padding-left: 0;
    }

    .section-gallery .item {
      display: block
    }

    .gal-1 {
      min-height: 350px;
      background: #ebeff2;
      border: 1px solid #d2d2d2
    }

    .apple {
      font-weight: bold;
      font-size: 27px
    }

    .phone-name {
      margin-top: 70px
    }

    .Phone1 {
      margin-top: 40px
    }

    .Phone2 {
      margin: 20px auto;
    }

    .item-most-popular {
      margin-top: 30px
    }

    .item-most-popular .img-header {
      margin-top: 0
    }

    .img-header {
      background: #ebeff2;
      min-height: 36px;
      padding-top: 8px;
      border-bottom: 1px solid #fff;
      font-size: 14px;
      color: #363739;
      margin-top: 30px
    }

    .b-full {
      border: 1px solid #e4e4e4;
    }

    .text-desc {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none
    }

    .heart-img {
      padding: 0px 10px 0px 0px;
      font-size: 24px;
      color: #bbbfc2
    }

    .heart-img:hover {
      color: #C70039;
    }

    .phone-desc {
      margin: 40px 0px 10px 45px;
    }

    .galaxy {}

    .device {
      margin: 90px;
      font-size: 24px;
    }

    .reviews {
      margin: 1em auto;
      font-size: 18px;
      text-align: center;
    }

    .reviews>span {
      color: #008979
    }

    vendor-prefixes.less:77 .price-section {
      margin-top: 80px
    }

    .price-section1 {
      margin-top: 30px
    }

    .text {
      margin: 30px 45px;
    }

    .space {
      font-size: 18px;
      font-weight: bold
    }

    .padd-5 {
      padding-left: 5px
    }

    .check-box {
          margin: 12px 0;
    }

    .dollar-desc {
      font-size: 18px;
      font-weight: bold
    }

    .compare {
      background: #d2d2d2;
      min-height: 40px;
      padding-top: 10px;
    }

    .compare a:hover {
      color: #000;
      text-decoration: none;
      background: #d2d2d2;
    }

    .third-image {
      background: #fff;
      border: 1px solid #d4d4d4;
      min-height: 473px;
    }

    .reviews-third {
      margin-top: 15px
    }

    .section-bottom-icons {
      margin-top: 5em;
      margin-bottom: 1px;
    }

   
    .device-cost label {
      font-weight: bold;
      font-size: 13px;
      width: 100%;
    }

   

    .check-box span {
      font-size: 21px;
    }

    .b-cc {
      border: 1px solid #efefef
    }

    .image-bord {
      min-height: 50px;
      background: #505050;
      border-right: 2px solid #fff;
      position: relative;
      overflow: hidden;
    }

    .image-back {
      background: #00857b;
    }

    .close-ico {
      float: right;
      margin-top: 16px;
      background: #fff;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      padding: 2px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
    }

    span.phone-icon {
      color: #fff;
      margin-left: 80px;
      font-weight: normal;
      font-size: 16px;
      float: left;
      width: 189px;
      word-break: break-word;
      margin-top: 17px;
    }

    img.c-img {
      margin-top: 11px;
      float: left
    }

    img.compare-device-img {
      margin-top: 11px;
      float: left;
      position: absolute;
      width: 70px;
    }

    vendor-prefixes.less:77 .phone-icon {
      margin: 30px;
      color: #fff
    }

    .pt80 {
      padding-top: 80px;
    }

    .p-14 {
      font-size: 14px
    }

    .border1 {
      border: 1px solid #000;
    }

    .min-height621 {
      min-height: 640px;
    }

    .margin45 {
      margin: 45px;
    }

    .pt8em {
      padding-top: 8em;
    }

    .pb5em {
      padding-bottom: 5em
    }

    .m-t-15 {
      margin-top: 15px
    }

    .device-block {
      position: relative
    }

    /*.device-legends {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 21px;
    }*/

    .device-legends label {
      width: 12px;
      height: 12px;
      float: none;
      cursor: pointer;
    }

    .f-20 {
      font-size: 20px
    }

    .device-legends1 {
      position: absolute;
      bottom: 10px;
      right: 0;
      width: 21px;
    }

    .device-legends1 label {
      width: 12px;
      height: 12px;
      float: none;
      cursor: pointer;
    }

    .device-legends1 {
      transform: rotate(89deg);
      bottom: -74px;
      left: 120px;
    }

    .bg-red {
      background: #C70039
    }

    .bg-brown {
      background: #F4A107
    }

    .bg-brown {
      background: #F4A107
    }

    .f-20 {
      font-size: 20px;
    }

    .txt-choice h4 {
      font-weight: normal;
      margin-bottom: 0;
      font-size: 30px;
    }

    .txt-choice h3 {
      margin-top: 0;
      padding-top: 0;
      font-size: 44px;
    }

    /*.help .btn {
      background: transparent;
      border: 1px solid #e7e7e7;
      color: #575757;
      width: 100%
    }*/

    .section-help {
      text-align: center;
      padding: 10px;
      color: #000;
      font-size: 23px;
      font-weight: normal;
    }

    
    .result-count {
      float: left;
      font-size: 20px
    }

    .m-t-2em {
      margin-top: 2em!important
    }

    .resetcheck {
      margin-top: 12px;
      font-size: 21px;
      display: inline-block;
      cursor: pointer;
      height: 31px;
    }

    .image-bord {
      transition: 1s;
      width: 0;
      height: 50px
    }

    .resetcheck span {
      overflow: hidden;
      transition: 1s;
      height: 0;
      display: inline-block
    }

   .resetcheck span.h-25 {
    height: 25px;
    margin: 7px 0;
}

    .image-bord.w-25p {
      width: 25%!important
    }

    .txt-cross {
      text-decoration: line-through
    }

    .comparebtn .btn {
      padding: 8px 40px;
    }

    .page-listing .page-heading {
      padding: 5em 0 0em 0;
    }

    .page-listing .page-heading h4 {
      font-size: 34px
    }

    .page-listing .page-heading h3 {
      font-size: 50px
    }
	.filter-list>div {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
    /*Media query starts*/

    @media (min-width: 320px) and (max-width: 767px) {
      .container-auto {
        padding: 0;
        overflow: hidden
      }
      .phone-section {
        padding-left: 0;
      }
      .button-section {
        padding: 0;
        margin: 0;
      }
      .help {
        min-height: 270px;
        border: 0
      }
      .help .btn {
        margin-bottom: 15px;
		font-size:18px
      }
      .section-filter .btn {
        margin-bottom: 30px
      }
      .section-sort {
        margin-top: 3em;
        border-top: 1px solid #eee;
        padding-top: 1em!important;
        display: block;
      }
	  .txt-sort{font-size:12px;
	  }
      .div-sortby button {
        min-width: 6em;
      }
      .div-sortby {
        float: left;
        min-width: 103px;
      }
      .f-12 {
        min-width: 12em
      }
      .paddsmall {
        margin-bottom: 5px;
        font-size: 13px
      }
      .space-wdt {
        margin-right: 0px;
      }
      .text {
        width: 200px
      }
      .space-btn {
        width: 75px
      }
      .compare {
        margin-bottom: 5px
      }
      .buttons-left {
        float: left !important
      }
      .section-gallery .device-item {
        background: #ebeff2;
        margin-bottom: 20px;
        padding-bottom: 12px;
      }
      .section-gallery .item {
        display: none
      }
      .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active {
        display: block;
      }
      .section-gallery .left, .section-gallery .right {
        background: none;
        font-size: 50px;
        color: #000;
        margin-top: 3em;
      }
      .img-header {
    padding-top: 0;
    margin-top: 10px;
}
.item-most-popular .img-header .text-desc {padding-top:3px;display:inline-block}
.item-most-popular .img-header {
    margin-top: 0px;
    padding-top: 8px;
}
.item-most-popular .deviceImage{max-width:75%}
      .heart-img {
        padding: 2px 10px 0px 0px;
      }
      .phone-query {
        font-size: 10px
      }
      .help {
        padding: 0px
      }
      .phone-ic {
        margin-top: -50px
      }
      .image-bord {
        margin-top: 2px
      }
      .image-bord.w-25p {
        width: 100%!important;
      }
      .section-bottom-icons {
        margin-top: 10px
      }
      .comparebtn {
        margin-top: 5px!important
      }
      .pt80 {
        padding-top: 20px;
        padding-left: 6.5em;
      }
      .pl1em {
        padding-left: 1em
      }
      .pull-right-mobile {
        float: none !important;
        text-align: center;
        padding-left: 4em;
      }
      .not-now {
        padding-bottom: 10px
      }
      label.help-section {
        padding-top: 1em;
        padding-bottom: 1em;
		font-size:18px
      }
      .pt8em {
        padding-top: 3em
      }
      .pb5em {
        padding-bottom: 3em
      }
      .device-legends1 {
    bottom: -76px;
    left: 46%;
}
.min-height621 {
    min-height: 405px;
}
      .result-count {
        padding-left: 13px
      }
      .reset {
        top: 18px
      }
      .section-filter.m-t-2em {
        margin-top: 1em!important;
        margin-bottom: 1em;
        display: inline-block;
        width: 100%;
      }
      .section-help .not-now {
        right: 20px
      }
      .js-navbar-collapse {
        margin-top: 2em;
      }
     .wishlist-icon {
    margin-top: 0;
    margin-right: -6px;
}
	 
.item-most-popular .devices h5{margin-top:1em}
.device-block .pb5em{padding-bottom:1em}
    }
    /*Mobile landscape Layout*/

    @media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
      .div-sortby button {
        min-width: 10em;
      }
    }
    /*ipad*/

    @media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: portrait) {
      .section-filter .btn {
        min-width: 9em!important;
        font-size: 16px!important
      }
      .section-help label {
        margin-top: 24px
      }
      .min-height621 {
        min-height: 535px;
      }
     
      .image-bord {
        border-bottom: 1px solid #fff
      }
      .item-most-popular .pb5em {padding:0}
      .item-most-popular .device-legends1 {
        bottom: -66px;
        left: 66px;
      }
/*      .device-legends {
        position: absolute;
        bottom: -35px;
        right: 33px;
        width: 70px;
      }*/
      .help .btn {
        font-size: 16px
      }
      .pb5em {
        padding-bottom: 1em;
        padding-right: 0;
      }
      .js-navbar-collapse {
        margin-top: 2em;
      }
      .deviceImage {
        max-width: 80%;
        float: right
      }
     
      .reset {
        top: 18px
      }
    }

    @media screen and. (max-width: 1024px) and (min-width: 736px) and (orientation: landscape) {
      .section-filter .btn, .div-sortby .btn {
        min-width: 9em!important;
        font-size: 18px!important
      }
      .txt-sort {
        font-size: 11px;
        margin-top: 4px;
        margin-right: 10px;
      }
    }

    @media screen and (min-width:768px) and (max-width: 1024px) {
      .button-section {
        padding: 0px
      }

      .f-23 {
        font-size: 14px !important
      }
      .pt8em {
        padding-top: 0
      }
      .margin45 {
        margin: 20px
      }
      .device-legends1 {
        bottom: -66px;
        left: 55px
      }
    }

    .check-box-properties {
      width: 19px;
      height: 19px;
      position: relative;
      top: 3px;
      left: -3px;
    }

    .min-ht {
      min-height: 10px;
    }
/* temp */
a.pull-right{
	height:32px;
}
div.device-cost{
	height:97px;
}
div.resetcheck{
    height:43px;
}