.col-xs-12.m-t-15 {
margin-top:15px;
padding:0;
}

.p-20 {
padding:20px;
}

.heart-img1 {
color:#00857bfont-size:30px;
padding:0 10px 0 0;
}

.device-legends {
bottom:10px;
position:absolute;
right:0;
width:21px;
}

.device-legends label {
cursor:pointer;
float:none;
height:10px;
width:10px;
}

h5.device {
font-size:18px;
font-weight:400;
}

.reviews {
font-size:18px;
margin:1em auto;
text-align:center;
}

.reviews>span {
color:#008979;
}

.font-size32 {
font-size:32px;
}

.font-weight-900 {
font-weight:900;
}

.item-price {
font-size:32px;
font-weight:700;
margin:1px -11px;
padding:0 -11px;
}

.mrg-30 {
margin-top:30px;
}

.mrg-top-buttom {
margin-bottom:23px;
margin-top:23px;
}

.delivery-upper-block {
border:1px solid #d4d4d4;
height:57px;
margin-top:30px;
}

.delivery-head {
padding:11px;
}

.upfront-text {
background:#f1f1f1;
color:#00857b;
font-size:20px;
font-weight:700;
line-height:57px;
}

.month-text {
color:#000;
font-size:19px;
font-weight:700;
}

.delivery-lower-block {
border:1px solid #d4d4d4;
border-top:none;
}

.delvry-main-info {
padding-left:40px;
}

.delvry-info1,.delvry-info2 {
display:inline-block;
}

.delvry-info1 {
height:13px;
}

.delvry-info2 {
height:47px;
}

.extra-info {
font-size:18px;
margin-top:15px;
}

.upfront-cost-delvry {
background:#f1f1f1;
min-height:169px;
padding-top:45px;
}

.new-cost-delvry {
color:#00857b;
font-size:38px;
font-weight:700;
}

.discnt-txt {
color:#949494;
font-weight:700;
}

.discnt {
margin-bottom:20px;
margin-top:20px;
}

.disc-btn-block {
padding-top:11px;
}

.disc-code {
border:none;
border-bottom:2px solid #323232;
box-shadow:none;
min-width:400px;
}

.disc-code:focus {
outline:none;
}

.rgt-pad-30 {
padding-right:30px;
}

.pad-34 {
padding:34px;
}

.bdr {
border:1px solid gray;
}

.fn-sz-23 {
font-size:23px;
}

.btn-dropdown-white-uk,.btn-dropdown-white-uk:hover {
border-bottom:1px solid #000;
color:#323232;
}

.btn-dropdown-uk .glyphicon,.btn-dropdown-white-uk .glyphicon {
float:right;
font-size:18px;
font-weight:bolder;
margin-right:46px;
margin-top:-3px;
}

.rmv-drpdwn {
border-bottom:none;
text-decoration:underline;
width:88px;
}

.rmv-drpdwn,.rmv-drpdwn:hover {
border-bottom:none;
color:#00857b;
font-size:13px;
}

.extra-mont-cost label {
font-size:45px;
}

.home-extra-cost + div {
font-size:43px;
font-weight:700;
margin-bottom:-14px;
}

.drp-dwn-menu {
min-width:130px;
}

.extra-body {
min-height:125px;
}

.extra-mont-cost {
min-height:125px;
padding-top:28px;
}

.access-head,.upfront-head,.monthly-head {
height:70px;
}

.hrz-bar {
border-bottom:1px solid #ccc;
}

.hrz-bar-top {
border-top:1px solid #ccc;
}

.access-body,.upfront-body,.monthly-body {
height:180px;
padding-left:58px;
padding-top:48px;
}

.accessories-style {
border:1px solid #d4d4d4;
height:57px;
}

.upfront-head {
color:#00857b;
padding-top:18px!important;
}

.deprecated-cost {
padding-top:37px;
}

.deprecated-cost small {
color:#949494;
font-size:26px;
font-weight:700;
}

.deprecated-cost strike {
color:#949494;
font-size:33px;
font-weight:700;
}

.new-cost label {
color:#000;
}

.new-cost {
color:#00857b;
font-size:49px;
font-weight:700;
}

.nav-bottom {
border-bottom:1px solid #e9e9e9;
}

.sp-mp-64 {
margin-bottom:64px;
}

.bg-7b-color {
color:#00857b;
font-weight:700;
text-decoration:underline;
}

.package-link {
color:#00857b;
float:left;
font-size:13px;
font-weight:700;
margin-left:10px;
text-align:right;
}

.package-head {
font-weight:700;
padding-bottom:10px!important;
padding-top:10px!important;
}

.p-l-45 {
padding-left:45px;
}

.up-cst {
border-bottom:1px solid #d4d4d4;
color:#2e8980;
font-size:24px;
font-weight:700;
padding-bottom:10px!important;
padding-top:1px!important;
text-align:center;
}
.up-cst h5{margin-bottom:3px}
.mnt-cst {
border-bottom:1px solid #d4d4d4;
font-size:24px;
font-weight:700;
min-height:70px;
padding-top:18px!important;
}

label a {
text-decoration:underline;
}

.mob-section {
padding:40px;
}

.bg-8b-col {
font-size:20px;
font-weight:700;
margin:20px;
}

.package-section {
margin:0px 20px 0;
}

.package-section1 {
margin-top:28px;
}

.mtop-size {
margin-top:230px;
}

.min-ht {
min-height:340px;
}

.section3 {
border:1px solid #fff;
min-height:410px;
}

.ml-80 {
font-size:13px;
margin-left:80px;
}

.ml-12 {
font-size:13px;
font-weight:700;
margin-top:20px;
}

.device h5 {
color:#7a7a7a;
font-size:18px;
font-weight:400;
margin-bottom:0;
}

.device h6 {
font-size:30px;
margin-top:0;
}

.bd-btm-1 {
border-bottom:1px solid #808487;
}

.fo-wei {
font-weight:400;
}

.fsize-50 {
font-size:50px;
margin-left:-12px;
}

.f-size16 {
font-size:16px;
}

.mg-top15 {
margin-top:-15px;
}

.p-l-4em {
padding-left:4em;
}

.p-r-0 {
padding-right:0;
}

.b-b-d4 {
border-bottom:3px solid #d4d4d4;
}

.main {
border:1px solid #d4d4d4;
min-height:250px;
}

.item-info-txt {
padding-top:25px;
}

.txt2 {
height:21px;
}

.txt1 {
height:10px;
}

.item-wish-top,.item-wish-top a {
color:#00857b!important;
font-size:smaller;
font-weight:700;
height:68px;
padding-top:16px;
text-decoration:underline;
}

.item-remove-top a {
color:#00857b!important;
font-size:12px;
font-weight:700;
text-decoration:underline;
width:40%!important;
}

.item-qty-top {
padding-top:30px;
}

.item-wish {
color:#00857b;
font-size:11px;
font-weight:700;
text-decoration:underline;
}

.item-qty {
border:1px solid;
height:45px;
width:42px;
padding:13px 20px;
}

.p-t-18 {
padding-top:18px!important;
}

.circle {
background:#00857b;
border-radius:15px;
height:12px;
width:12px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
}

.b-c-d4 {
background:#d4d4d4;
}

.mark {
background:none;
font-size:12px;
padding:12px 0;
}

.display-flex {
display:flex;
}

.pl10 {
padding-left:10px;
}

.pl23 {
padding-left:23px;
}

.pl30 {
padding-left:30px;
}

.pb20 {
padding-bottom:20px;
}

.pb30 {
padding-bottom:30px;
}

.pb40 {
padding-bottom:40px;
}

.pl80 {
padding-left:80px;
}

.pl115 {
padding-left:115px;
}

#summary a {
color:#333;
text-decoration:none;
}

features span {
font-size:80px;
}

.mid-feature {
margin-left:7em;
margin-right:7em;
}

#product-page a.check-credit {
font-size:14px;
position:relative;
text-decoration:none;
top:5px;
}

#product-page a.nearest-page {
font-size:14px;
font-weight:700;
position:relative;
text-decoration:none;
}

#Accessories div.btn-group {
display:flex;
justify-content:center;
}

.carousel-control {
padding-top:17%;
width:5%;
}

.padding5 {
padding:5px;
}

.canvas-circle,.canvas-circle1 {
float:right;
position:relative;
top:-26px;
}

.fontsize24 {
font-size:24px;
}

.w25p {
width:25%;
}

.mob-cost p,.mob-cost h3 {
font-stretch:condensed;
margin-bottom:0;
margin-top:0;
}

.mob-sel {
margin-bottom:2em;
margin-top:4em;
padding-left:5em;
}

.txt-choice h3 {
font-size:44px;
margin-top:0;
padding-top:0;
}

.txt-choice h4 {
font-size:30px;
font-weight:400;
margin-bottom:0;
}

.small-seprator {
border:2px solid #5e5e5e;
margin:27px auto 50px;
text-align:center;
width:40px;
}

.btn-phn,.btn-phn:hover {
border-bottom:1px solid #808487;
font-weight:700;
margin-bottom:15px;
padding:0;
}

.btn-phn:hover {
color:#808487;
}

.panel-title {
font-size:24px;
padding:6px 10px;
}

.panel-heading {
font-size:24px;
background-color:#ebeff2!important;
padding:17px 15px;
}

.panel-group .panel {
border-radius:0;
margin-bottom:0;
margin-top:0!important;
}

.mob-hero {
border-bottom:1px solid #e7e7e7;
border-top:1px solid #e7e7e7;
padding:5em 0 5.3em;
text-align:center;
}

.section-accessories {
padding:5em 0;
}

label.d-a {
font-size:24px;
margin-right:18px;
}

label.d-a.disabled {
color:#ccc;
font-weight:400;
}

.section-accessories .left,.section-accessories .right {
background:none;
color:#000;
font-size:50px;
}

.section-ad {
background:#d0d0d0;
padding-top:5em;
position:relative;
}

.p-add {
color:#000;
margin-top:0;
}

.user-review p {
font-size:20px;
font-weight:400;
margin:2em auto;
text-align:center;
width:65%;
}

.section-review {
border-bottom:1px solid #e8e8e8;
}

.user-review p a.viewall {
color:#000;
font-weight:700;
}

.m-auto {
margin:0 auto;
}

.m-t-2em {
margin-top:2em;
}

.m-t-3em {
margin-top:3em;
}

.m-b-2em {
margin-bottom:2em;
}

.p-t-5em {
padding-top:5em;
}

.w-52p {
width:52%;
}

.min-ht-270 {
min-height:270px;
}

.min-ht-309 {
min-height:309px;
}

.pad-sim-34 {
padding:34px 34px 0;
}

.m-t-14 {
margin:14px 0;
padding:0 0 0 28px;
}

.ad-pad-15 {
padding:15px 0;
}

.left-side {
background:#f1f1f1;
height:250px;
padding-left:34px;
padding-top:20px;
}

.chk-list {
font-size:14px;
font-weight:700;
}

.first-list {
margin-top:79px;
}

.chk-list-head {
height:25px;
font-size:19px;
margin-bottom:-25px;
}

.chk-list-head h5 {
margin-bottom:-14px;
}

.right-side {
background:#f1f1f1;
height:250px;
}

.list {
font-size:15px;
padding-bottom:4px;
padding-left:0;
}

.bill-snippet {
padding-right:28px;
padding-top:56px;
width:100%;
}

.m-r-15 {
margin-right:-15px;
}

.numberCircle {
background:#fff;
behavior:url(PIE.htc);
border:3px solid #00857b;
border-radius:50%;
color:#00857b;
display:inline-block;
font:18px Arial, sans-serif;
font-weight:700;
height:32px;
padding:2px;
text-align:center;
width:32px;
}

.list-lbl {
margin-left:14px;
}

.btn-primary-uk-add:hover,.btn-primary-uk-add:focus {
background-color:#323232;
color:#fff;
}

.btn-primary-uk-gry:hover,.btn-primary-uk-gry:focus {
background-color:#949494;
color:#fff;
}

.form-bootstrapWizard {
margin-top:35px;
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
text-decoration:none;
}

.bootstrapWizard li {
display:block;
float:left;
padding-left:0;
padding-right:0;
text-align:center;
width:20%;
}

.bootstrapWizard li:before {
border-top:3px solid #00857b;
content:"";
display:block;
font-size:0;
overflow:hidden;
position:relative;
right:1px;
top:18px;
width:100%;
z-index:1;
}

.bootstrapWizard li:first-child:before {
left:50%;
max-width:50%;
}

.bootstrapWizard li:last-child:before {
max-width:50%;
width:50%;
}

.bootstrapWizard li.complete .step {
border:3px solid #00857b;
background:#00857b;
padding:1px 6px;
}

.bootstrapWizard li .step i {
font-size:10px;
font-weight:400;
position:relative;
top:-1.5px;
}

.bootstrapWizard li .step {
background:#fff;
border:3px solid #00857b;
border-radius:50%;
color:#00857b;
display:inline;
font-size:25px;
font-weight:700;
line-height:normal;
padding:2px 10px;
position:relative;
text-align:center;
transition:all .1s linear 0;
z-index:2;
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
background:#fff;
border:3px solid #00857b;
border-radius:50%;
color:#00857b;
font-size:24px;
font-weight:700;
padding:2px 10px;
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
color:#00857b;
font-weight:700;
}

.bootstrapWizard li .title {
color:#00857b;
display:block;
font-size:14px;
font-weight:700;
line-height:15px;
max-width:100%;
position:relative;
table-layout:fixed;
text-align:center;
top:20px;
word-wrap:break-word;
z-index:104;
}

.wizard-actions li {
display:inline;
}

.continue {
background:#323232;
height:84px;
margin:1px;
}

.shop-continue {
border-right:1px solid #fff;
height:84px;
padding-left:26px;
padding-top:23px;
}

.cntnu-btn {
background:#007bc3;
border:none;
color:#FFF;
font-size:15px;
margin-right:14px;
padding:6px 35px;
}

.checkout-btn {
background:#00857b;
border:none;
color:#FFF;
font-size:15px;
padding:6px 41px;
}

.pay-lbl {
margin-bottom:0;
margin-left:16px;
margin-top:10px;
font-weight:100;
}

.pay-amt {
margin-top:-11px;
}

.dec-value {
color:#FFF;
font-size:20px;
font-weight:700;
}

.exp-info {
color:#007bc3;
font-size:15px;
height:81px;
padding:28px 0;
}

.exp-info label {
font-weight:100;
}

.go-m-left {
margin-left:22px;
}

.monthly-cost-blk {
color:#333;
font-size:45px;
font-weight:700;
}

.dec-val {
font-size:19px;
}

.decimal-val-sim {
font-weight:700;
margin-left:6px;
}

.add-list-t {
margin-top:15px;
padding-right:30px;
}

.b-b-n {
border-bottom:none;
}

.decimal-val,.package-head1,.f-bold,.features p {
font-weight:700;
}

.drp-dwn-list a:visited,.bg-8b {
color:#00857b;
}

.upfront-block,.section2 {
background:#e7e7e7;
}

.bdr-btm,.b-b-d3 {
border-bottom:1px solid #d4d4d4;
}

.p-15,.padding15 {
padding:15px;
}

.ml-50,.fsize-13,.fsize13 {
font-size:13px;
}

.m-top,.pb10 {
padding-bottom:10px;
}

.m-t-20,.mob-cost {
margin-top:20px;
}

.features,.m-t-5em {
margin-top:5em;
}

.btn-primary-uk-add,.btn-primary-uk-gry {
background-color:#00857b;
border:0;
border-radius:0;
color:#fff;
font-size:20px;
}

.bootstrapWizard,.wizard-actions {
display:block;
list-style:none;
padding:0;
position:relative;
width:100%;

}

.pay-today-b,.per-month {
height:84px;
color:#FFF;
}

@media screen and max-width 735px and min-width 310px{
.text-center-mobile {
text-align:center;
}

.fsize14-mobile {
font-size:14px;
}
}

@media screen and max-width 735px and min-width 310px and orientation portrait{
.mid-feature {
margin-left:0;
margin-right:0;
}

.mob-sel {
padding-left:1em;
}

.mob-cost p {
font-size:18px;
}

.mob-cost h3 {
font-size:40px;
}

.w-52p,.user-review p {
width:100%;
}
}

@media screen and max-width 735px and min-width 310px and orientation landscape{
.mid-feature {
margin-left:0;
margin-right:0;
}

.mob-sel {
padding-left:1em;
}

.mob-cost p {
font-size:18px;
}

.mob-cost h3 {
font-size:40px;
}

.w-52p,.user-review p {
width:100%;
}
}

@media screen and max-width 1024px and min-width 736px and orientation portrait{
.mob-sel {
margin-left:10em;
}

.f-sm-0 {
float:none!important;
}

.m-sm-auto {
margin:0 auto;
}

.mid-feature {
margin-left:10em;
margin-right:7em;
}

.panel-title {
font-size:20px;
padding:0 10px;
}

.panel-heading {
padding:16px 15px;
}

.mob-hero {
padding-bottom:5em;
}

.device-price,.device-price>div {
padding:0;
}

.device-name h5 {
font-size:25px;
}

.d-type {
font-size:12px;
margin-right:8px;
}

.d-price {
font-size:28px;
margin-left:12px;
}

.txt-choice {
margin-top:2em;
}

.up-cst {
font-size:15px;
padding-top:3px!important;
}

.up-cst h5 {
font-size:13px;
text-align:center;
}

.monthly-cost-blk {
font-size:28px!important;
}

.chk-list-head h5 {
font-size:18px;
}

.continue .pay-today-b {
margin-top:10px;
}

.monthly-cost-blk p {
font-size:12px;
}

.new-cost-delvry {
font-size:28px;
}

.col-sm-9 h5,.pay-amt h4 {
font-size:20px;
}

.col-sm-3 .btn-primary-uk-add,.col-xs-12 .delvry-info1,.extra-info,.shop-continue .btn-primary-uk-gry,.m-t-15 h5,.btn-primary-uk,.disc-btn-block .btn-primary-uk-add {
font-size:16px;
}
}

@media screen and max-width 1024px and min-width 736px and orientation landscape{
.mob-sel {
margin-left:18em;
}

.mid-feature {
margin-left:10em;
margin-right:7em;
}

.panel-title {
font-size:20px;
padding:4px 10px;
}

.panel-heading {
padding:16px 15px;
}

.mob-hero {
padding-bottom:5em;
}

.device-price,.device-price>div {
padding:0;
}

.device-name h5 {
font-size:25px;
}

.d-type {
font-size:12px;
margin-right:8px;
}

.d-price {
font-size:28px;
margin-left:12px;
}

.txt-choice {
margin-top:2em;
}

.disc-code {
min-width:290px;
}

.up-cst {
padding-top:3px!important;
}

.up-cst h5 {
font-size:20px;
text-align:center;
}

.chk-list-head h5 {
font-size:18px;
}

.shop-continue .btn-primary-uk-gry {
font-size:16px;
}
}