/*start check out heading part*/

.b-b-1{
	border-bottom: 1px solid #ccc;
}
.bar-under-heading {
    border-top: 4px solid #333;
    width: 50px;
    margin: 0 auto;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/*Start Wizard*/
.form-bootstrapWizard {
    margin: 35px 0;
}
.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 35px 0;
}
.bootstrapWizard li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 3px solid #888;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 12px;
    right: 1px;
    width: 100%;
    z-index: 1
}
.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}
.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}
.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}
.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}
.bootstrapWizard li .step {
    background: #fff;
    color: #b7b7b7;
    display: inline;
    font-size: 25px;
    font-weight: 700;
    line-height: 12px;
    padding: 5px 10px;
    border: 4px solid #b7b7b7;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
	padding-top:8px;
}
.bootstrapWizard li a:hover,.bootstrapWizard li a:focus{text-decoration:none}
.bootstrapWizard li .step:hover{border:4px solid #008579;background-color:#eee;color:#000;text-decoration:none}
.bootstrapWizard li .title:hover{color:#008579}
.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #fff;
    color: #008579;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 50%;
    border: 4px solid #008579;
	padding-top:8px;
}
.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #008579;
}
.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104;
    margin-bottom: 50px;
}
.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}
.wizard-actions li {
    display: inline
}
.tab-content.transparent {
    background-color: transparent
}
.section-tab-content .fade{
	display:none
}
.section-tab-content .fade.active{
	display:block;
}
/*End Wizard*/
/*End check out heading part*/

/*start content-wrapper Personal Detail part*/
.content-wrapper {
	margin: 0 30px;
}
.m-t-15 {
	margin-top: 15px;
}
.customer-details .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
	-webkit-box-shadow: none;
    box-shadow: none;
    min-height: 45px;
}
.customer-details a {
  color: #008579;
  text-decoration: underline;
  font-size: 13px;
}
.customer-details a.backto{text-decoration: none;} 
.m-t-30 {
	margin-top: 30px;
}
.btn-title .btn {
    padding-left: 0;
    color: #d4d4d4;
    font-size: 19px;
}
.check-box-properties{
	width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: -3px;
}
.check-box-properties1{
	    width: 16px;
    height: 16px;
    position: relative;
    left: -3px;
}
.check-box-properties2{
	    width: 16px;
    height: 16px;
    position: relative;
    left: -3px;
	top: -2px;
}
.m-b-0 {
    margin-bottom: 0;
}
.p-r-0 {
	padding-right: 0;
}
.fnt-14{
	font-size:14px!important
}
.hgt-45{
	height:45px;
}
label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.btn {
    border-radius: 0;
}

.facebook {
    background-color: #3a5695;
    padding: 15px;
    border: none;
}
.facebook:hover {
    background-color:#2c4680;
}
.facebook-icon {
    width: 20px;
    height: 20px;
    /*background-image: url(../images/facebook.png);*/
    background-repeat: no-repeat;
    padding-left: 24px;
}
.google {
    background-color: #df5139;
    padding: 15px;
    border: none;
}
.google:hover {
    background-color: #c7442d;
}
.google-icon {
    width: 24px;
    height: 24px;
   /* background-image: url(../images/googleplus.png);*/
    background-repeat: no-repeat;
    padding-left: 28px;
}

.form-group {
    margin-bottom: 0px;
    margin-top: 20px;
}
/*End content-wrapper PesonalDetail part*/


/*start content-wrapper Delivery part*/
.m-t-25{
	margin-top:25px;
}
.form-control:focus ,.focus-non:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bdr-btm-only {
  border: none;
  border-radius:0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  box-shadow: none;
  -webkit-box-shadow: none;
   min-height: 45px;
  }
p {
    margin: 0px;
	
}
.m-b-20 {
	margin-bottom:20px;
}
.pre-order{
	background-color:#c9c9c9; 
	border:1px solid #666; 
	padding:5px;
}
.bld{
	font-weight:bold;
}
.sam-stl{
	border-right:1px solid #666666; 
	background-color:#f0f0f0;
	height:250px;
	padding-top:10px;
}
.border-box{
	border:1px solid #666666;
}
.parenttp{
	margin-top:10px;
	font-size: 15px;
}
.parenttp .subtxt{
	font-size: 15px; 
	font-weight:bold; 
	font-family:"Helvetica Neue Light", Helvetica;
}
.m-t-10{
	margin-top:10px;
}
.m-l-15{
	margin-left:25px;
}
.m-t-20{
	margin-top: 20px;
}
.clr-blue{
	background-color:#005eb6;
} 
/*End content-wrapper Delivery part*/

/*Start content-wrapper Contract part*/
.b-1{
	border:1px solid black;
}
.bg-wht{
	background-color:white;
}
.ht-scroll{
	max-height:700px;
	overflow-y: auto;
}
.pad-20{
	padding: 20px;
}
.m-t-20-{
	margin-top: -25px;
}
.pad{
	padding:20px 0 20px 0;
}
.pad-5{
	padding: 5px;
}
/*End content-wrapper Contract part*/

/*Start content-wrapper Payment part*/
.btn-group > .btn:last-child{
	    padding: 10px 7px;
	}
.dropdown-menu.col-xs-12.p-l-0 li a {
font-size:14px;	
}
.btn-pad {
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 10px 24px;
}

.p-r-4{
	padding-right:4px;
}

.dsp-inln{
	display:inline;
}
.p-t-25{ 
   padding-top: 25px;
   padding-bottom:0px;
   padding-left:0px;
   padding-right:0px;
}
.p-t-30{
	padding-top:30px;
}
.p-t-20{
	padding-top:20px;
}
.m-t-40{
	margin-top:40px;
}
.p-r-10{
padding-right: 10px;
}
.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
	-webkit-box-shadow: none;
    box-shadow: none;
    
   }
.col-xs-2.p-r-4 {
    margin-left: -12px;
}

.seprator {
    color: #000;
    border: 1px solid #000;
    position: absolute;
    width: 99.5%;
    top: 47px;
}
.x-algn{
	width: 180px;
    float: left;
    padding-bottom: 10px;
	
	}
.sm-font {
	font-size: 11px !important;
}
.order-table.table {
    margin-bottom: 0px;
}

.order-table.table>tbody>tr>.emptyrow {
    border-top: none;
}

.order-table.table>thead>tr>.emptyrow {
    border-bottom: none;
}

.order-table.table>thead>tr>td>span {
    font-size: 12px;
}

.order-table.table>thead>tr>td.grcolr {
    background-color: #f1f1f1;
    color: #008579;
}

.order-table.table>tbody>tr>.highrow {
    border-top: 3px solid;
}

.order-table.table>tbody>tr>td>span {
    font-size: 18px;
    color: ##969696;
}
.sm-font {font-size: 11px !important;}
.order-table.table>tbody>tr>td.grcolr {
    background-color: #f1f1f1;
    color: #008579;
    font-size: 20px;
    font-weight: bold;
}
.order-table.table>tbody>tr>td.grcolr-dark {
    background-color: #333;
    color: #fff;
    vertical-align: middle !important;
    border: none;
}
.panel {
    margin: 0;
}
.panel_body {
    padding: 0;
}

.upload-input select {height: 35px;}
.p-t-8{padding-top:8px!important}
.order-table.table>tbody>tr>td {
    border-top: 1px solid #ccc;
    font-size:18px;
    padding: 0 20px;
    vertical-align: middle;
}
.order-table.table>tbody>tr>td.green {
    color: #008579;
}
.order-table h4 {
    font-size: 30px;
}.order-table h5 {
    font-size: 25px;
}
tr {
    display: table-row;
    vertical-align: middle;
    border-color: none;
    }
/****START: Addons****/
.p-l-15{padding-left:15px!important}
.p-t-18{padding-top:18px}

/****END: Addons****/
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {
    /*Mobile Portrait Layout*/
	.debitlogo {
    float: none!important;
    margin-left: 25%;
}
	.btn.col-xs-12.btn-pad {
	    margin-top: 5px;
	}
	.sam-stl {
    min-height: 48px;
    height: auto;
}
	
	.ht-scroll{
	max-height:500px;
	overflow-y: auto;
	}
    .content-wrapper {
        margin: 0 20px;
    }
    .margin-top-bot-45 {
        margin: 15px 0;
    }
    .form-bootstrapWizard {
        margin-top: 40px;
    }
    .bootstrapWizard li .title {
        font-size: 10px;
    }
    .billingoptions .btn {
        font-size: 13px;
    }
    .section-userdetail h4{font-size:24px; text-align: center}
}

@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
    /*Mobile landscape Layout*/
   .btn-pad{margin-top:5px}
.sam-stl{
	min-height:85px;
	}
	
	.ht-scroll{
	max-height:500px;
	overflow-y: auto;
	}   .content-wrapper {
        margin: 0 20px;
    }
    .margin-top-bot-45 {
        margin: 15px 0;
    }
    .form-bootstrapWizard {
        margin-top: 15px;
    }
	.ht-scroll{
	max-height:400px;
	overflow-y: auto;
	}
}

@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {
    /*Mobile Portrait Layout*/
    .content-wrapper {
        margin: 0 20px;
    }
    .table {
        font-size: 60%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: portrait) {
    /*Mobile Portrait Layout*/
    .content-wrapper {
        margin: 0 20px;
    }
    .margin-top-bot-45 {
        margin: 15px 0;
    }
    .form-bootstrapWizard {
        margin-top: 15px;
    }
}
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {

.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step {
	padding: 5px 10px;
    padding-top: 8px;
	}
}
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {
  /*Mobile Portrait Layout*/
  hr.seprator {
    
    position: absolute;
    width: 98%;
    top: 41px;
}
 }

@media screen and (max-width: 1023px) and (min-width: 310px) {
	.order-table h4,.order-table h6{    font-size: 25px;
    text-align: left;}
	.order-table h5{font-size:20px}
	.order-table.table>tbody>tr>td,.order-table.table>tbody>tr>td>span{font-size:14px}
	.p-r-10 {
    padding-right: 10px;
    display: inline-block;
}
	
	
}
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
  /*Mobile landscape Layout*/
  .sam-stl{
	min-height:85px;
	}
	
	.ht-scroll{
	max-height:500px;
	overflow-y: auto;
	}
  
  h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold
}
 
h1 {
  font-size: 50px
}
 
h2 {
  font-size: 42px
}
 
h3 {
  font-size: 38px
}
 
h4 {
  font-size: 34px
}
 
h5 {
  font-size: 30px
}
 
h6 {
  font-size: 26px
}
 
p {
  font-size: 18px
}
}
@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: portrait) {
  /*IPAD Portrait Layout*/
  /*body{background-color:red}*/
  
  .sam-stl{
	min-height:85px;
	}
	
	.ht-scroll{
	max-height:500px;
	overflow-y: auto;
	}
  h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold
}
 
h1 {
  font-size: 50px
}
 
h2 {
  font-size: 42px
}
 
h3 {
  font-size: 38px
}
 
h4 {
  font-size: 34px
}
 
h5 {
  font-size: 30px
}
 
h6 {
  font-size: 26px
}
 
p {
  font-size: 18px
}
 }
@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: landscape) {
  /*IPAD landscape Layout*/
  /*body{background-color:green}*/
  h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold
}
 
h1 {
  font-size: 50px
}
 
h2 {
  font-size: 42px
}
 
h3 {
  font-size: 38px
}
 
h4 {
  font-size: 34px
}
 
h5 {
  font-size: 30px
}
 
h6 {
  font-size: 26px
}
 
p {
  font-size: 18px
}
  
}
