/*!
 * Start Bootstrap - Scrolling Nav (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/*CSS default set for Desktop */

body {
  font-family: "Helvetica Neue Light", Helvetica;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff
}

*{outline:none!important}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold
}

h1 {
  font-size: 50px
}

h2 {
  font-size: 42px
}

h3 {
  font-size: 38px
}

h4 {
  font-size: 34px
}

h5 {
  font-size: 30px
}

h6 {
  font-size: 26px
}

p {
  font-size: 18px
}


/*START background-color codes*/

.bg-8f {
  background-color: #f4668f
}

.bg-6e {
  background-color: #ea866e
}

.bg-c3 {
  background-color: #007bc3
}

.bg-b6 {
  background-color: #005eb6
}

.bg-7b {
  background-color: #00857b
}

.bg-9a {
  background-color: #4fa29a
}

.bg-d3 {
  background-color: #b1d5d3
}

.bg-32 {
  background-color: #323232
}

.bg-50 {
  background-color: #505050
}

.bg-94 {
  background-color: #949494
}

.bg-d4 {
  background-color: #d4d4d4!important
}

.bg-e4 {
  background-color: #e4e4e4
}

.bg-f1 {
  background-color: #f1f1f1
}

.bg-f2 {
  background-color: #ebeff2
}

.bg-bb {
  background-color: #b584bb
}

.bg-ff {
  background-color: #fff
}

.bg-00 {
  background-color: #000
}

.bg-24 {
  background-color: #1d2124
}

.bg-transparent {
  background-color: transparent!important
}


/*END background-color codes*/


/*START text-color codes*/

.txt-white {
  color: #fff
}

.txt-black {
  color: black!important
}


/*END text-color codes*/

.seprator-black {
  border: 1px solid #505050;
  width: 100%
}


/*CSS AddOns*/

.row-9 {
  margin-left: -9px;
  margin-right: -9px
}

.m-auto {
  margin: 0 auto!important
}

.m-t-10 {
  margin-top: 10px!important
}

.m-t-20 {
  margin-top: 20px!important
}

.m-t-2em {
  margin-top: 2em!important
}

.m-t-3em {
  margin-top: 3em!important
}

.m-t-5em {
  margin-top: 5em!important
}

.m-t-60 {
  margin-top: 60px!important
}

.m-b-10 {
  margin-bottom: 10px!important
}

.m-b-20 {
  margin-bottom: 20px!important
}

.m-l-3em {
  margin-left: 3em
}

.m-0 {
  margin: 0!important
}

.p-r {
  position: relative
}

.p-l-0 {
  padding-left: 0
}

.p-l-5em {
  padding-left: 5em!important
}

.p-0 {
  padding: 0!important
}

.b-0 {
  border: 0!important
}

.b-rd-0 {
  border-radius: 0
}

.f-16 {
  font-size: 16px!important
}

.f-19 {
  font-size: 19px!important
}

.f-45 {
  font-size: 45px!important
}

.p-r-0 {
  padding-right: 0!important
}

.small-seprator {
  border: 2px solid #5e5e5e;
  width: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  background-color:#5e5e5e
}


/*****START: HEADER*********/


/*START header*/


/*START- Navbar*/

.bg-9a .icon-bar, .bg-32 .icon-bar {
  background-color: #fff
}

.navbar-3uk>li, .subnav-3uk>li {
  padding: 22px 17px;
 
}

.subnav-3uk>li {
  padding: 22px 17px;
}
.subnav-3uk .dropdown-menu {
    margin-right: -28px;
    margin-top: -22px;
}
.navbar-3uk>li>a, .subnav-3uk>li>a {
  color: #fff;
  line-height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0;
  padding-top: 5px;
  text-decoration:none!important;
}

.nav-black {
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.nav-ff {
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.nav-ff .navbar-header, .nav-ff .nav-options, .nav-ff .subhead-32 {
  background-color: #fff;
  min-height: 87px
}

.nav-black .navbar-header, .nav-black .nav-options, .nav-black .subhead-32 {
  background-color: #000;
  min-height: 87px
}

.nav-black .goto-search {
  color: #fff
}

.nav-ff .icon-bar {
  background-color: #000
}

.subhead-toggle .icon-bar {
  border-radius: 50%;
  width: 4px;
    height: 4px;
    margin-bottom: 1px!important;
    margin-top: 6px!important;
}

.nav-black .icon-bar {
  background-color: #fff
}

.nav-ff .navbar-3uk>li>a, .nav-ff .subnav-3uk>li>a {
  color: #000
}

.opt:after {
  position: absolute;
  left: 0%;
  bottom: 0%;
  content: '';
  transition: all 0.5s linear;
  width: 100%;
  border-bottom: 2px solid #00857b;
  transform: scaleX(0);
}

.navbar-3uk li a:hover, .navbar-3uk li a:focus, .subnav-3uk>li>a:hover, .subnav-3uk>li>a:focus {
  background: transparent!important;
}

.navbar-3uk li:hover .opt:after, .subnav-3uk>li:hover .opt:after {
  transform: scaleX(1);
}

.subnav-3uk>li>a {
  font-size: 1.2em
}

.navbar-3uk .open>a, .navbar-3uk .open>a:hover, .navbar-3uk .open>a:focus {
  background-color: red;
  border-color: #337ab7;
  transform: scale(1);
}

.navbar-3uk>li>a .glyphicon:hover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.bg-3uk .nav .open>a, .bg-3uk .nav .open>a:hover, .bg-3uk .nav .open>a:focus {
  background-color: transparent;
  color: #323232!important;
}

.search-box-full {
  margin-top: 13px;
  margin-right: 15px;
}

.logo {
  margin-left: 3em;
  margin-top: 13px;
  width: 3em;
}

.search-block span {
  margin-top: 0px;
  cursor: pointer;
}

.section-search {
  position: absolute;
  left: 120px;
  top: 0;
  background: #fff;
  transition: 1s;
  width: 90%;
  height: 87px;
  padding-top: 27px;
  opacity: 0;
  z-index: -4;
}

.section-search.afterclick {
  opacity: 1.9;
  z-index: 2
}

.section-search.op1 {
  opacity: 0.8;
  z-index: 2
}

.section-search.op2 {
  opacity: 0.2;
  z-index: 2
}

.section-search input[type="text"] {
  border: 0;
  font-size: 23px;
  color: #000;
  padding-left: 10px;
  outline: none;
}

.close-search {
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
}

.goto-search, .section-search span {
  font-size: 24px
}

.search-full-txt::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666;
  font-weight: normal
}

.searchIcon-ipad {
  float: right!important;
  position: absolute!important;
  right: 50px;
  top: 2px
}

.search-full-txt::-moz-placeholder {
  /* Firefox 19+ */
 color: #666;
  font-weight: normal
}

.search-full-txt:-ms-input-placeholder {
  /* IE 10+ */
  color: #666;
  font-weight: normal
}

.search-full-txt:-moz-placeholder {
  /* Firefox 18- */
 color: #666;
  font-weight: normal
}


/*END- Navbar*/


/*****END: HEADER*********/


/*****START: Button*********/

.btn-primary-uk, .btn-sec-uk, .btn-primary-fb, .btn-primary-gp {
  border-radius: 0;
  background-color: #00857b;
  color: #fff;
  font-size: 24px;
  border: 0;
  padding: 10px 40px;
  box-shadow: inset 0 0 0 0 #31302B;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.4s;
  text-decoration:none!important
}

.btn-sec-uk {
  background-color: #949494
}

.btn-primary-uk:hover, .btn-primary-uk:focus {
  box-shadow: inset 800px 0 0 0 #323232;
  color: #fff!important;
}

.btn-primary-fb {
  background-color: #4060a5
}

.btn-primary-fb:hover, .btn-primary-fb:focus {
  box-shadow: inset 800px 0 0 0 #6688d4;
  color: #fff!important;
}

.btn-primary-fb img {
  margin-right: 8px;
  margin-top: -4px;
}

.btn-primary-gp {
  background-color: #e64522
}

.btn-primary-gp:hover, .btn-primary-gp:focus {
  box-shadow: inset 800px 0 0 0 #dc6c64;
  color: #fff!important;
}

.btn-primary-gp img {
  margin-top: -4px;
  margin-right: 12px;
}


/*facebook css icon*/

.btn-primary-uk .glyphicon {
  font-weight: normal;
  font-size: 20px;
  margin-right: 15px;
}

.btn-dropdown-uk, .btn-dropdown-uk:hover, .btn-dropdown-uk:focus, .btn-dropdown-white-uk {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: 0;
  padding: 8px 30px 8px 10px;
  min-width: 11em;
  text-align: left;
}

.btn-dropdown-uk .glyphicon, .btn-dropdown-white-uk .glyphicon {
  float: right;
  font-size: 20px;
  margin-top: 7px;
}

.btn-dropdown-white-uk, .btn-dropdown-white-uk:hover {
  background-color: transparent;
  color: #000;
  box-shadow: none!important;
  border-bottom: 1px solid #ccc
}

.btn-dropdown-white-uk .glyphicon {
  color: #000
}

.btn-grp-uk .glyphicon-menu-down {
  display: block
}

.btn-grp-uk .glyphicon-menu-up {
  display: none
}

.btn-grp-uk.open .glyphicon-menu-down {
  display: none
}

.btn-grp-uk.open .glyphicon-menu-up {
  display: block
}

.btn-grp-uk ul.dropdown-menu {
  border: 0
}
.mob-sel ul.dropdown-menu{border: 0;
    margin-left: 14px;
    border-radius: 0;
    background: #fff;
    overflow: hidden;
	
	}
.btn-grp-uk ul.dropdown-menu li a {
  font-size: 18px;
  padding: 10px 3px 6px 12px;
  min-width: 12em;
}

.btn-grp-uk ul.dropdown-menu li a:hover {
  font-weight: bold
}


/*****END: Button*********/


/*****START: FOOTER*********/

footer .bg-00 a, footer .bg-00 label {
  color: #fff
}

.search-footer {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  padding-left: 5px;
  outline: none
}

.search-footer::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.search-footer::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.search-footer:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.search-footer:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

footer .col-xs-block {
  background: #141414;
  padding: 25px 0 0;
}
.footer-buy{
    margin-top: -4px;
    margin-bottom: 25px;
}

footer .txticon {
  margin-right: 15px;
  margin-top: 0px;
  float: left;
  width: 22px;
}

footer .toptxt {
  font-size: 19px;
  float: left
}

footer .bigtxt {
  font-size: 30px;
  line-height: 28px;
  
}

.footer-list {
  margin-top: 3em
}

.footer-list h5 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2px
}

.footer-list ul li {
  list-style: none
}

.footer-list ul {
  list-style: none;
  padding: 0;
  margin-top: 10px
}

.footer-list ul li a {
  color: #9f9f9f;
  font-size: 14px;
  text-decoration: none!important
}

.footer-list>div:first-child {
  padding-left: 5em
}

footer label.txt-copy {
  font-size: 12px;
  color: #9f9f9f;
  margin-left: 5em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.text-pos {
  text-align: left
}

.social-icons {
  width: auto;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

.last-head img {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 8px
}


/*****END: FOOTER*********/


/*****START: FORM*********/

.form-group label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
}

.form-group input.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 30px;
  background-color: transparent;
}
.form-group a{text-decoration:none}


/*****END: FORM*********/


/*****START: Mobile - Promotion*********/

.img-header {
  background: #ebeff2;
  min-height: 36px;
  padding-top: 5px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  color: #363739;
}

.text-desc {
  text-transform: uppercase;
  font-weight: bold;
}

.wishlist-icon {
  padding: 0;
  font-size: 24px;
  color: #bbbfc2;
  transition: 0.5s
}

.wishlist-icon:hover, .wishlist-icon.active {
  color: #008979;
 
}

label.item-wish {
  margin-top: 4px;
  text-align: right;
  height: 18px;
  overflow: hidden;
  transition: 1s;
  width: 0;
}

label.item-wish.h-14 {
  width: 130px
}

.device-block {
  position: relative;
}

.device-content {
  padding: 0;
  border: 1px solid #efefef;
}

.Phone2 {
  margin: 20px auto;
}

.device-legends {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 21px;
}

.device-legends label {
  width: 12px;
  height: 12px;
  float: none;
  cursor: pointer;
}

.devices h5 {
  font-weight: normal;
  margin-bottom: 0;
  font-size: 24px;
  text-align: center
}

.devices h6 {
  font-size: 30px;
  margin-top: 0;
  line-height: 1;
  text-align: center
}

.reviews {
  margin: 1em auto;
  font-size: 18px;
  text-align: center;
}

.reviews>span {
  color: #008979;
}

.device-cost label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

.device-cost label.gbp {
  font-size: 2.5em;
  font-stretch: expanded;
  line-height: 1;
}

.check-box {
  margin-top: 12px;
}

.check-box span {
  font-size: 21px;
}

.mob-block, .device-block, .device-content {
  transition: 1s;
  cursor: pointer
}

.mob-block:hover .device-block {
  background: #fff;
  box-shadow: 2px 2px 30px #dedede
}

.mob-block:hover .device-content {
  background: #eee;
}
.txt-choice h3 {
  font-size: 44px; 
  padding-top: 0;
  margin-top: 0;
}

.txt-choice h4 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
}
.device img {
  margin: 0 auto;
}

.device-name h5 {
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 0;
  text-align: center
}

.device-name h4 {
  font-weight: bold;
  margin-top: 0;
  text-align: center
}

.star-rating span {
  color: #008176;
  font-size: 21px;
  cursor: pointer;
}

.star-rating span:hover {
  color: #ea866e
}

.d-type {
  font-weight: bold;
  font-size: 13px;
  margin-top: 1em;
  margin-bottom: 4px;
  width: 100%
}

.d-price {
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
}

.d-price small {
  font-size: 50%;
}

.page-heading {
  padding: 5em 0 5em 0
}

.page-heading h4 {
  font-weight: normal;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center
}

.page-heading h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 44px;
  text-align: center
}
.max-heading h4 {
    font-size: 34px!important;
}
.max-heading h3 {
    font-size: 50px!important;
}
.page-heading-seprator {
  border: 2px solid #5e5e5e;
  width: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 27px;
  background:#5e5e5e;
}

.tag{margin-left:10px}
.tag .removetag{
   
    padding: 0px 2px;
	 margin-left: 8px;
    cursor: pointer;
}

/*****END: Mobile - Promotion*********/


/*****START: FILTER Mega Dropdown*/

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  transition: 1s;
  height: 0!important;
  border: 0!important;
  padding: 0;
  display: block;
  overflow: hidden;
  width: 100%;
}

.mega-dropdown-menu.show-mega-menu {
  padding: 20px 0px 40px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  height: auto;
}

.mega-dropdown-menu>li>ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu>li>ul>li {
  list-style: none;
}

.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
  text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.section-filter .navbar-collapse {
  width: 100%
}

.nav5 .mega-dropdown:hover a span.icon-rotate, .footer-list .accord:hover .icon-rotate1 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav5 .mega-dropdown:hover .mega-dropdown span.icon-rotate, .nav5 span.icon-rotate, .footer-list .accord:hover .icon-rotate1 {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-size: 20px;
  font-weight: normal;
  margin-top: 8px
}

.nav5 .mega-dropdown a.dropdown-toggle {
  color: #575757;
  font-size: 24px;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #323232;
  display: inline-block;
  background: transparent
}

.nav5 .mega-dropdown a.dropdown-toggle:hover, .nav5 .mega-dropdown a.dropdown-toggle:focus {
  background: transparent
}

.nav5 .mega-dropdown a:hover {
  background-color: #fff;
}

.dropdown.mega-dropdown {
  padding: 0 10px !important;
}

.mega-dropdown-menu.h-14 {
  min-height: 80px;
  display: block
}

.mega-dropdown a:focus {
  background: transparent
}

.brd-rt {
  border-right: 1px solid #ccc;
}

.brd-lft {
  border-left: 1px solid #ccc;
}

.p-r-0 {
  padding-right: 0 !important;
}

.pl4-5em {
  padding-left: 4.5em;
}

.nav5 {
  padding: 0;
}

.filter-check, .os, .screensize, .price {
  height: 20px;
  width: 20px;
}

.fsize25 {
  font-size: 25px;
}

.fsize16 {
  font-size: 16px;
}

.selectedFilter-icon {
  font-size: 17px;
  color: green;
  margin-left: 5px;
}

.check-position {
  position: relative;
  top: -5px;
  left: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.w-full {
  width: 100%!important
}

.reset-filter {
  position: relative;
  top: 10px;
  left: 25px;
}

.filter-icon {
  position: relative;
  top: 15px !important;
  float: left;
}

a.color-black, a.color-black:hover {
  color: #000;
}

.pb15 {
  padding-bottom: 15px;
}

.fsize22 {
  font-size: 22px;
}

.section-help label {
      font-weight: normal;
      font-size: 26px;
      color: #575757;
      margin-top: 10px;
      position: relative;
    }

    .section-help .not-now {
      position: absolute;
      right: 0px;
      font-size: 15px;
      top: 0;
      color: #7f7f7f;
    }

/*****END: FILTER Mega Dropdown*/


/*Common css classes for mobiles and Ipad*/

@media screen and (max-width: 1023px) and (min-width: 300px) {
	/*Page Heading*/
	
	.page-heading {
		padding: 1em 0 0em 0!important;
		}
	.page-heading h4 {
    font-size: 23px!important;
}
	.page-heading h3 {
    font-size: 40px!important;
}
.page-heading-seprator {margin-top:10px}
.txt-choice h3{font-size:40px}
	.small-seprator{margin-top:15px}
	/*Page Heading*/
  .section-search {
    left: 75px
  }
  .search-block span {
    margin-top: 6px;
    color: #666;
    font-size: 20px;
}
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
  .navbar-9a>li>a, .subnav-9a>li>a {
    line-height: 23px;
    font-size: 1.2em;
  }
  .logo {
    margin: 0 auto;
    width: 50px;
    margin-top: -1px;
  }
  /***START:FOOTER***/
  .last-head {
    text-align: center;
    margin-top: 2em
  }
  footer .bigtxt {
    font-size: 19px;
    text-align: center;
    float: none;
  }
  footer .toptxt {
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    float: none;
    width: 100%;
  }
  footer .toptxt-box {
    background: #202020;
    border: 1px solid #484848;
    min-height: 140px;
    text-align: center;
    margin-top: 2em;
  }
  .toptxt-box img {
    margin: 0 auto;
    float: none;
    margin-top: 20px
  }
  .search-footer {
    border: 0
  }
  .footer-list {
    margin-top: 1px;
    padding: 0px
  }
  .footer-list>div, .footer-list>div:first-child {
    padding: 0px
  }
  .accord {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .accord h5 {
    width: 80%;
    float: left;
    font-size: 19px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .accord .glyphicon-menu-down {
    font-weight: bold;
    font-size: 20px;
       margin-top: 12px;
    margin-bottom: 13px;
  }
  .col-xs-footer li {
    text-align: center
  }
  footer label.txt-copy {
    margin-left: 0
  }
  .text-pos {
    text-align: center
  }
  .footer-list ul {
    box-shadow: none
  }
  .footer-list ul li a {
    padding-left: 1.5em
  }
  /***END:FOOTER***/
  .row-9 {
    margin: 0
  }
  .p-xs-0 {
    padding: 0
  }
  .Phone2 {
    width: 60%
  }
  .device-content {
    background-color: #ebeff2;
  }
  /*.device-legends {
    position: relative;
    width: 100%;
    margin: 25px auto;
  }*/
  .device-legends {
    position: absolute;
    bottom: -20px;
    right: 40px;
    width: 75px;
}
  .mob-block {
    margin-bottom: 1em
  }
  .section-filter .navbar-collapse {
    width: 0;
    transition: 1s;
    display: block;
    overflow: hidden!important
  }
  .mega-dropdown-menu.show-mega-menu{height: auto!important;
    padding: 12px 0 0;}
	.deviceImage{width:40%}
	.deviceImage.m-t-2em{margin-top:1em!important;}
	.devices h5 {
     font-size: 18px;
   
}
.devices h4, .devices h6 {
    font-size: 22px;
}
.device-cost label.gbp{font-size:2em}
.gb{font-size:20px}
.check-box span{font-size:16px}
.item-most-popular .device-cost{margin-top:10px}
 span.filter-label, button.filter-label {
    font-size: 18px;
}button.filter-label .glyphicon-menu-down{margin-top:0}
.btn-primary-uk, .btn-sec-uk, .btn-primary-fb, .btn-primary-gp{font-size:18px}

}


/*Mobile Portrait Layout*/

@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {
  .nav-ff, .nav-black {
    overflow: hidden;
  }
  .nav-ff .navbar-toggle, .nav-black .navbar-toggle {
    padding: 15px 10px 0px
  }
  .nav-ff .navbar-header, .nav-black .navbar-header {
    min-height: 70px;
  }
  .nav-ff .navbar-toggle, .nav-black .navbar-toggle {
    margin-left: 16px!important;
  }
  .navbar-toggle .icon-bar {
    margin-bottom: 7px
  }
  .nav-ff .subhead-toggle, .nav-black .subhead-toggle {
    margin-top: 0;
    margin-left: 0!important;
    margin-right: 10px!important;
  }
  .logo {
    margin-top: 15px;
    width: 35px;
}
  .subnav-3uk>li, .navbar-3uk>li {
    padding: 0;
    min-height: 48px;
  }
  .searchIcon-ipad {
    top: 0
  }
  .search-box-full {
    margin-top: 17px
  }
  .subnav-3uk .open .dropdown-menu {
    padding-top: 0
  }
  .navbar-3uk>li>a, .subnav-3uk>li>a {
    line-height: 26px;
    padding: 0;
    border-top: 1px solid #eee;
    height: 48px;
    padding-left: 25px;
    padding-top: 12px;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px;
    padding: 0;
    height: 48px;
    font-size: 20px;
    padding-left: 22px;
    padding-top: 16px;
    border-top: 1px solid #eee;
  }
  .section-search {
    left: 0;
    width: 100%;
    padding-top: 14px
  }
  .section-search>div {
    padding: 0
  }
  .section-search input[type="text"], .section-search span {
    font-size: 18px;
    font-weight: normal;
    margin-top: 8px
  }
  .close-search {
    margin-right: 2px;
    font-size: 20px;
    margin-top: 7px;
}
  /*Mega Menu*/
  .dropdown.mega-dropdown {
    padding: 0 15px !important;
  }
  .dropdown.mega-dropdown a:hover {
    background-color: transparent;
    border-color: #337ab7;
  }
  .dropdown.mega-dropdown:first-child {
    padding-left: 15px !important;
  }
  .dropdown.mega-dropdown:last-child {
    padding-right: 15px !important;
  }
  .navbar-nav {
    margin: 0
  }
  .mega-dropdown-menu {
    position: static;
  }
  .plan-block img{width:50%}
}


/*Mobile landscape Layout*/

@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
  .logo {
    margin-top: 11px;
  }
  .nav-ff .navbar-toggle .icon-bar, .nav-black .navbar-toggle .icon-bar {
    margin-bottom: 7px
  }
  .nav-ff .navbar-toggle, .nav-black .navbar-toggle {
    margin-left: 10px;
    margin-top: 26px;
  }
  .nav-ff .subhead-toggle, .nav-black .subhead-toggle {
    margin-top: 14px;
    margin-left: 0!important;
    margin-right: 10px!important;
  }
  .subnav-3uk>li, .navbar-3uk>li {
    padding: 0;
    min-height: 48px;
    border-top: 1px solid #eee;
  }
  .searchIcon-ipad {
    right: 70px;
    top: 17px;
  }
  .section-search {
    width: 80%
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px;
    padding: 0;
    height: 48px;
    font-size: 20px;
    padding-left: 22px;
    padding-top: 16px;
    border-top: 1px solid #eee;
  }
  /*Mega Menu*/
  li.dropdown.mega-dropdown {
    padding: 0 15px !important;
  }
  li.dropdown.mega-dropdown a:hover {
    background-color: #eee;
    border-color: #337ab7;
  }
  li.dropdown.mega-dropdown:first-child {
    padding-left: 15px !important;
  }
  li.dropdown.mega-dropdown:last-child {
    padding-right: 15px !important;
  }
  .navbar-nav {
    margin: 0
  }
  .mega-dropdown-menu {
    position: static;
  }
}


/*IPAD Portrait Layout*/

@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: portrait) {
  .footer-list ul li a {
    margin-left: 20px
  }
  .bigtxt {
    font-size: 22px;
    line-height: 20px;
  }
  .nav-ff .navbar-brand, .nav-black .navbar-brand {
    margin-top: 16px;
    width: 50px;
    margin-left: 15px;
    z-index: 1
  }
  .search-block span {
    top: 15px;
	color:#000
  }
  /*sub Nav bar for ipad only*/
  .nav-ff {
    background: transparent
  }
  .nav-ff .nav-options {
    background-color: #fff
  }
  .navbar-toggle.subhead-toggle, footer .navbar-toggle {
    display: block;
    position: absolute;
    right: 5px;
    margin-top: 17px;
    z-index: 1;
    width: 4%;
  }
  .navbar-collapse.subhead-32, footer .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0
  }
  .navbar-collapse.subhead-32.collapse, footer .navbar-collapse.collapse {
    display: none!important;
  }
  .subnav-3uk {
    float: right;
    margin: 0;
  }
  .subnav-3uk>li {
    float: none;
  }
  .subnav-3uk>li>a {
    padding-right: 16px;
    height: 64px;
    border-top: 1px solid #eee;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.subhead-32.collapse.in, footer .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  .text-sm-center {
    text-align: center
  }
  li.dropdown.mega-dropdown {
    padding: 0 10px !important;
  }
  li.dropdown.mega-dropdown:first-child {
    padding-left: 10px !important;
  }
  li.dropdown.mega-dropdown:last-child {
    padding-right: 10px !important;
  }
  .mega-dropdown-menu {
    position: static;
  }
  .item-most-popular .deviceImage{width:90%}
  .device-legends1 {
    bottom: -66px;
    left: 63px;
}
.device-legends {
    position: absolute;
    bottom: -12px;
    right: 27px;
    width: 73px;
}
.section-sort .div-sortby button {
    min-width: 6em;
    font-size: 19px;
}
.section-help label {
    font-size: 20px;
}

}


/*IPAD landscape Layout*/

@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: landscape) {
	.item-most-popular .deviceImage{width:90%}
	.device-legends1 {
    bottom: -66px;
    left: 63px;
}
.section-help label {
    font-size: 20px;
}
.device-legends {
    position: absolute;
    bottom: -12px;
    right: 27px;
    width: 73px;
}
.section-sort .div-sortby button {
    min-width: 6.8em;
    font-size: 22px;
}
  footer .toptxt {
    font-size: 17px;
    float: left;
    margin-top: 2px;
  }
  .footer-list>div:first-child {
    padding-left: 2em;
  }
  .last-head img {
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 19px;
  }
  .logo {
    margin-left: 1em
  }
  .section-search {
    left: 100px
  }
  .navbar-3uk>li, .subnav-3uk>li {
    padding: 17px 6px
  }
  .txt-choice h3{font-size:40px}
  footer .bigtxt{font-size:24px}
  .footer-buy{margin-top:-4px!important}
  .toptxt-box{padding-left:0;font-size:16px}
}
