.nav-ff {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  border-top: 0
}

.section-breadcrumb {
  margin-left: 2em;
}

.section-breadcrumb ol.breadcrumb {
  background: #fff;
  border-radius: 0;
}

.section-breadcrumb li, .section-breadcrumb li a {
  font-size: 12px;
  color: #8fc2bc
}

.section-breadcrumb li.active {
  font-weight: bold;
  color: #000
}

.section-plantype {
  min-height: 11.5em;
  border-bottom: 1px solid #ccc;
  padding-top: 2em
}

.section-plantype .small-seprator {
  margin-top: 10px
}


.section-payment {
  padding-top: 2.5em
}

.section-payment h4 {
  font-size: 30px
}

.payment-heading {
  text-align: center;
  position: relative;
}

.regular-block {
  padding-right: 2.8em
}

.flexi-block {
  padding-left: 2.8em
}

.plan-block {
  border: 3px solid #707070;
  padding: 20px;
  cursor: pointer
}

.plan-block:hover {
  transition: border-width 0.1s ease-in-out;
  border: 3px solid #00857c;
  background-color: #f1f1f1
}

.plan-block.active {
  border: 3px solid #00857c;
  background-color: #f1f1f1
}

.plan-block h4 {
  color: #00857c;
  position: relative;
  display: inline-block;
}

.plan-block .small-seprator {
  margin-top: 0;
  height: 4px
}

.plan-block p.plantxt {
  color: #000;
  margin-top: 20px;
  min-height: 13em;
}

.small-seprator:after, .payment-heading:after {
  position: absolute;
  left: 0%;
  bottom: 0%;
  content: '';
  transition: all 0.5s linear;
  width: 100%;
  border-bottom: 2px solid #00857b;
  transform: scaleX(0);
}

.plan-block:hover .small-seprator {
  border: 0
}

.plan-block:hover .small-seprator:after {
  transform: scale(1);
}

.plan-block.active .small-seprator {
  border-bottom: 2px solid #5e5e5e
}

.plan-block img {
  margin: 32px auto 0
}

.section-whyweneed .left, .section-whyweneed .right {
  background: none;
  font-size: 50px;
  color: #000;
}

.section-whyweneed-carousel .carousel-caption {
  top: 4em
}

.section-whyweneed-carousel .carousel-inner img {
  max-height: 100%
}

.section-whyweneed-carousel p {
  font-size: 2.3em
}

.section-whyweneed-carousel .small-seprator {
  border: 2px solid #fff;
  margin-bottom: 5em;
  width: 80px
}


/*Common css classes for mobiles and Ipad*/


@media screen and (max-width: 1023px) and (min-width: 300px) {
  .section-breadcrumb {
    margin-left: -1em;
  }
  .section-plantype{min-height:8px}
  .regular-block, .flexi-block {
    padding: 5px
  }
  .plan-block {
    padding: 0;
    padding-bottom: 10px
  }
  .plan-block p.plantxt {
    font-size: 13px;
    min-height: 18em;
    padding: 0 20px;
  }
  .plan-block .btn-primary-uk, .plan-block .btn-sec-uk {
    padding: 10px;
    font-size: 20px
  }
  .section-whyweneed-carousel .carousel-caption {
    top: 10px
  }
  .section-whyweneed-carousel .carousel-caption h3 {
    font-size: 24px
  }
  .section-whyweneed-carousel .carousel-caption p {
    font-size: 13px
  }
  .section-whyweneed-carousel .small-seprator {
    margin-bottom: 1em
  }
  .section-payment h4 {
    font-size: 22px;
  }
  .section-whyweneed-carousel{margin-top:2em!important}
}



/*Mobile Portrait Layout*/

@media screen and (max-width: 735px) and (min-width: 310px){
	.plan-block .m-h-10em {
    min-height: 8em;
    
}
.plan-block .btn-primary-uk, .plan-block .btn-sec-uk {
   
    font-size: 17px
  }
  .section-plantype{padding-bottom:2em}
	
}
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
	.plan-block .m-h-10em {
    min-height: 10em;
}
.plan-block p.plantxt{min-height:16em}

}
@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: landscape) {
	
  /*IPAD landscape Layout*/
  .section-plantype{min-height:8em}
  .section-whyweneed-carousel .carousel-caption h3 {
    font-size: 37px
  }
  .section-whyweneed-carousel .carousel-caption p {
    font-size: 27px
  }
  .section-whyweneed-carousel{margin-top:2em!important}
  .regular-block, .flexi-block {
    padding: 5px
  }
  .plan-block {
    padding: 0;
    padding-bottom: 10px
  }
  .plan-block p.plantxt {
    min-height: 15em;
    padding: 0 10px;
  }
  .regular-block {
    padding-right: 1.5em
  }
  .flexi-block {
    padding-left: 1.5em
  }
  .section-breadcrumb li, .section-breadcrumb li a {
    font-size: 16px
  }
  .plan-block .btn-primary-uk, .plan-block .btn-sec-uk {
    padding: 10px;
  }
}

.w-full {
  width: 100%
}

.p-r {
  position: relative
}

.p-t-2em {
  padding-top: 2em
}

.p-b-h4 {
  padding-bottom: 1.5em
}

.m-h-10em {
  min-height: 10em;
  max-height: 10em
}
