h1,h2,h3,h4,h5,h6{text-align:left}
.section-example {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.col-font-guide{display:table;height:50px}
.col-font-guide small{display:table-cell;vertical-align:middle}
.section-title{
    padding-top:3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}
.intro-section {
     padding-top: 150px;
    text-align: center;
    background: #fff;
}
.styleguidelogo{
    width: 32px;
    margin-top: -10px;
    margin-left: 0;
    float: left;
    margin-right: 12px;
}
.logotxt{margin-top:1px}
.sub-titles-list {
    background: #e4e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub-titles-list ul {float:right;width:auto;margin:0}
.sub-titles-list li {
    float: left;
    list-style: none;
    margin-left: 12px;
}
.sub-titles-list ul li a::after {
    border-right: 1px solid #000;
}
#uielements {
    
    background: #eee;
	margin:0
}
.section-header .copy-block,.section-buttons .copy-block{margin-top:20px;}
.section-buttons .copy-block>p{float:left}
.btn-clipboard, .btn-clipboard-path {
    margin-top: 6px;
   
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.btn-clipboard:hover,.btn-clipboard-path:hover{color:#fff;background:#563d7c;border:1px solid #563d7c}
.sub-title {
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
}
.sub-title h3{text-align:left}
.section-typography {
  
    text-align: center;
    background: #fff;
	margin:0
}
#page-heading{border:1px solid #eee}
.section-promotion{padding:20px 0}
.m-t-0{margin-top:0!important}
.m-0{margin:0!important}
/*Common css classes for mobiles and Ipad*/
@media screen and (max-width: 1023px) and (min-width: 300px) {
.sub-title h3{text-align:center}	
.copy-block p{float:left}
.section-example, .section-headings, .section-example>div{padding:0}
	
}